/*main*/
body { margin: 0; font-family: 'Open Sans', sans-serif; }
.mt { margin-top: 135px; }
.site { border-right: 1px solid #ddd; padding-left: 0; padding-right: 0; }
.adds { height: 100%; float: right; left: auto; right: 0; position: fixed; }
.j-nav { padding-top: 12px; padding-bottom: 10px; border: none; }
.navbar-default { border: none; }
.navbar { margin-bottom: 0; padding-left: 50px; padding-right: 50px; border-bottom: 1px solid #ddd; }
.j-nav ul { text-transform: uppercase; }
.j-nav button { text-transform: uppercase; background: #3ac891; color: #fff; border-radius: 4px; padding: 12px 15px; }
.container-fluid { padding: 0; }
.container { padding: 0; }
.container-fluids { padding: 0; margin: 0 60px; height: auto; }
.b-logo img { width: 150px; }
.b-logo { padding: 0; }
.j-btn { }
.j-btn a { padding: 0 !important; }
.j-banner { height: 82vh; width: 100%; background: url(../images/j-banner.jpg); margin-bottom: 50px; margin: auto; background-size: cover; background-repeat: no-repeat; text-align: center; }
.j-banner h1 { font-weight: bold; color: #fff; font-size: 50px; margin-top: 120px; }
.j-banner h5 { font-weight: normal; font-size: 16px; color: #fff; }
.j-br-coutr { width: 100%; text-align: center; color: #fff; background: rgb(0, 0, 0, 0.2); margin: auto; margin-top: 50px; padding-top: 25px; padding-bottom: 25px; }
.ctr-clum { width: 595px; height: auto; margin: auto; }
.ctr-clum ul { }
.ctr-clum ul img { width: auto; height: 30px; }
.ctr-clum li { list-style: none; float: left; margin-right: 35px; }
.ctr-clum h2 { font-size: 40px; font-weight: bold; }
.ctr-clum p { font-size: 16px; font-weight: normal; text-transform: capitalize; }
.j-three-clms { margin-top: 50px; margin-bottom: 50px; border-top: 1px solid #ddd; padding-top: 50px; height: 371px; }
.j-4clms { border: 1px solid #ddd; border-radius: 4px; position: relative; }
.j-4clms-img-clm { height: 192px; }
.j-4clms-img-clm img { height: auto; width: 100%; border-radius: 4px; }
.j-4clms-itxt-clm { padding: 0 18px; background: #fff; margin-top: -40px; margin-left: 15px; margin-right: 15px; border: 1px solid #ddd; border-radius: 4px; position: absolute; height: 160px; width: 91%; }
.j-4clms-itxt-clm h3 { font-weight: 700; color: #000; font-size: 24px; margin-bottom: 25px; margin-top: 20px; }
.j-4clms-itxt-clm h5 { font-weight: normal; color: #000; font-size: 18px; margin-bottom: 15px; }
.j-4clms-itxt-clm ul h6 { font-size: 18px; color: #000; }
.j-4clms-itxt-clm ul li { font-size: 14px; color: #666; }
.j-4clms-itxt-clm ul { padding-left: 0; }
.r-more { color: #1f7ef9; font-size: 14px; margin-top: 15px; }
.r-more p { float: left; display: inline-block; }
.r-more i { color: #1f7ef9; font-size: 20px; float: left; margin-left: 10px; transition: .6s; }
.r-more:hover i { margin-left: 20px; transition: .6s; }
.titles { border-top: 1px solid #ddd; padding-top: 50px; }
.titles h2 { font-weight: 700; color: #000; font-size: 24px; margin-top: 0; margin-left: 30px; }
.j-e { width: 70%; float: left; }
.j-d { width: 30%; float: left; }
.row1 { border: 1px solid #c83636; border-top: 1px solid #c83636; padding: 20px 15px; font-weight: bold; }
.row2 { border: 1px solid #addbfe; border-top: 0; padding: 20px 15px; }
.j-dates { width: 50%; margin: auto; margin-top: 60px; margin-left: 50px; }
/*--job-1--*/
.titles h5 { font-size: 18px; font-weight: normal; color: #8b8b8b; margin-left: 30px; }
.titles hr { width: 100%; height: 1px; border: none; background: #addbfe; margin-left: 0; margin-bottom: 50px; }
.q1 { margin-left: 100px; margin-top: 10px; margin-right: 50px; border-bottom: 1px solid #ddd; padding-bottom: 15px; }
.q1 i { float: left; margin-right: 8px; font-size: 10px; padding-top: 5px; }
.q1 h6 { font-size: 15px; font-weight: bold; margin: 0; }
.q1 li { list-style: none; margin-left: 0px; margin-bottom: 0px; color: #666; }
.st { margin-top: 50px; }
.no-comp { border: 1px solid #ddd; border-radius: 4px; height: 193px; text-align: center; padding: 25px; color: #000; margin-bottom: 25px; transition: .6s; }
.no-comp:hover { background: #5398f0; transition: .6s; }
.n-clms { margin-top: 50px; }
.no-comp img { height: 50px; }
.no-comp h2 { font-size: 14px; height: 52px; }
.no-comp p { font-size: 13px; text-transform: capitalize; }
/*---*/
.map { height: 250px; margin-top: 50px; margin-left: 30px; margin-right: 30px; }
.q2 { margin-right: 50px; border: none; }
.q2 li { list-style: disc; }
.e-r-f { }
.e-r-f form { margin-right: 50px; margin-left: 30px; margin-top: 50px; }
.e-r-f label { font-size: 14px; font-weight: normal; text-transform: capitalize; }
.e-r-f input { border-radius: 0; box-shadow: none; margin-top: 10px; }
.e-r-f textarea { border-radius: 0; box-shadow: none; margin-top: 10px; }
.e-r-f select { border-radius: 0; box-shadow: none; margin-top: 10px; }
.form-inn-section { margin-top: 50px; }
.sb-btn { background: #328e35; padding: 10px 40px; box-shadow: none; border-radius: 4px; border: none; color: #fff; margin-bottom: 25px; }
.t2 { }
.t2 h2 { margin-left: 15px; }
.sb-btn2 { margin-left: 15px; background: #5b88e9; }
.e-r-f2 { }
.e-r-f2 h6 { font-size: 14px; color: #000; text-transform: capitalize; margin-left: 15px; margin-top: 15px; margin-bottom: 15px; }
.e-r-f2 a { text-decoration: none; }
.sign-in { }
.sign-in form { width: 40%; margin-left: auto; margin-right: auto; }
/*--spo--*/
.main-spo { height: 40%; overflow: hidden; }
.main-spo h2 { font-size: 16px; text-transform: capitalize; margin-top: 10px; margin-bottom: 10px; font-weight: bold; }
.m-logos img { max-width: 100%; height: 100%; }
.m-logos { width: 140px; height:55px; margin-bottom: 12px; }
.m-logos-left { float: left; }
.m-logos-right { float: right; }
.co-spo { height: auto; overflow: hidden; }
.co-spo h2 { font-size: 16px; text-transform: capitalize; margin-top: 10px; padding-top: 10px; margin-bottom: 10px; font-weight: bold; border-top: 1px solid #ddd }
.path-tosignin a { text-transform: capitalize; border: 1px solid #ddd; padding: 15px; font-size: 16px; margin-left: 30px; }
.path-tosignin i { font-size: 26px; color: #0F0; margin-left: 10px; }
.path-tosignin a:hover { text-decoration: none; }
.home-circle { }
.free-reg { float: left; width: 70%; }
.free-reg h2 { text-transform: capitalize; display: inline-block; font-size: 16px; font-weight: bold; margin-top: 29px; color: #ff0b0b; }
.fter { text-align: center; padding: 15px 0; background: #30c059; width: 100%; margin-top: 50PX; color: #fff; }
.round { width: 448px; height: 448px; }
.holderCircle { width: 448px; height: 448px; }
.contentCircle { width: 350px; top: 140px; }
.path-tosignin { margin-top: 50px; }
.frm-sb-sections { background: #f2f2f2; margin-bottom: 15px; margin-top: 15px; padding-bottom: 15px; padding-top: 10px; }
.frm-sb-sections h4 { font-size: 16px; font-weight: bold; padding-left: 0; padding-right: 0; }
.f-r p { width: 100%; float: none; }
.f-r p label { font-size: 12px; width:100%; margin-left:30px; }
.f-r label { margin-top: 0px;  }
.f-r input { margin-top: 2px; }
.hidden-div { background: #f2f2f2; padding-top: 10px; margin-top: 15px; margin-bottom: 15px; }
.e-r-f input { font-size: 12px; }
.btns { background: #64b1ff; padding: 8PX 24PX; border-radius: 2px; color: #fff; position: relative; overflow: hidden; cursor: pointer; }
.bbb p { margin-top: 15px; margin-bottom: 15px; cursor: pointer; }
.btns input[type=file] { position: absolute; top: 0; right: 0; font-size: 14px; text-align: right; opacity: 0; outline: none; background: white; cursor: pointer; display: block; }
.row-class { width: 100%; margin-top: 8px; }
.row-class h4 { display: inline-block; text-transform: capitalize; padding-bottom: 8px; padding-left: 8px; padding-right: 8px; border-bottom: 1px solid #333; }
.add-del-btn { margin-top: 15px; margin-bottom: 15px; display: flex; margin-top: 58px; }
.add-btn { border-radius: 2px; height: 25px; width: 30px; background: #4b81e3; color: #fff; float: left; margin-right: 5px; text-align: center; padding-top: 1px; cursor: pointer; }
.del-btn { border-radius: 2px; height: 25px; width: 30px; background: #ff1c1c; color: #fff; text-align: center; float: left; padding-top: 1px; cursor: pointer; }
.tp-clm { width: 100%; }
.q-sub-title { width: 100%; margin-bottom: 15px; }
.q-sub-title h2 { color: #2991cc; text-transform: capitalize; font-size: 16px; padding-left: 0px; padding-bottom: 8px; padding-right: 8px; border-bottom: 1px solid #2991cc; display: inline-block; }
.qmy { border-top: 1px solid #ddd; display: flex; border-bottom: none; padding-top: 35px; margin-top: 35px; }
.qmy i { float: left; }
.qmy h5 { font-size: 14px; line-height: 24px; float: left; display: inline-block; margin: 0; }
.assmnt-clm { margin-left: 30px; margin-top: 50px; }
.assmnt-clm h2 { font-weight: 700; color: #000; font-size: 24px; margin-top: 0; }
.assmnt-clm p { font-size: 14px; }
.filter-button { font-size: 14px; border-radius: 3px; text-align: center; border: 1px solid #2286c5; color: #2286c5; margin-top: 15px; padding: 8px 25px; }
.filter-button:hover { background: linear-gradient(to right, #2286c5 0%, #5ee3ff 100%); color: #fff; border: 1px solid #2286c5; }
.btn-default .active .filter-button .active { background: linear-gradient(to right, #2286c5 0%, #5ee3ff 100%); color: #fff; border: 1px solid #2286c5; }
.btn-default:focus { background: linear-gradient(to right, #2286c5 0%, #5ee3ff 100%); color: #fff; border: 1px solid #2286c5; }
.actived { background: linear-gradient(to right, #2286c5 0%, #5ee3ff 100%); color: #fff; border: 1px solid #2286c5; }
.asmnt { margin-top: 25px; padding-left: 30px; border-top: 1px solid #ddd; padding-top: 25px; margin-top: 50px; }
.asmnt h1 { font-weight: 700; color: #2991cc; font-size: 24px; margin: 0; display: inline-block; border-bottom: 2px solid #2991cc; padding-bottom: 8px; margin-bottom: 25px; }
.asmnt h2 { font-size: 18px; margin: 0; font-weight: 700; color: #000; }
.asmnt-1 .q1 { margin-left: 30px; }
.asmnt-1 .q1 span { margin-left: 50px; display: flex; }
.asmnt-1 .q1 h6 { margin: 0; margin-top: 2px; }
.asmnt-1 .q1 li { margin-left: 68px; margin-top: 5px; }
.d-ar { }
.d-ar i { float: left; font-size: 20px; margin-right: 8px; }
.welm { text-align: center; margin-top: 150px; }
.welm h1 { font-size: 30px; }
.welm h2 { font-size: 24px; font-weight: bold; }
.gi { width: 90%; margin: auto; border-top: 1px solid #ddd; padding-top: 35px; margin-top: 35px; }
.gi h2 { font-size: 24px; font-weight: bold; }
.gi ol { padding-left: 0; }
.gi li { font-size: 14px; color: #000; margin-top: 8px; }
.qulifications { margin-top: 25px; }
.qulifications hr { margin-top: 10px; border: none; width: 100%; height: 1px; background: #aaa; float: left; }
.form-control[disabled] { background-color: #fff; }
.int input { font-size: 14px; }
.int input::-webkit-input-placeholder {
color: #fff;
}  /* WebKit, Blink, Edge */
.int input:-moz-placeholder {
color: #fff;
}  /* Mozilla Firefox 4 to 18 */
.int input::-moz-placeholder {
color: #fff;
}  /* Mozilla Firefox 19+ */
.int input:-ms-input-placeholder {
color: #fff;
}  /* Internet Explorer 10-11 */
.int input::-ms-input-placeholder {
color: #fff;
}
.form-control[disabled] { background-color: #6d6f73; border: 1px solid #6d6f73; box-shadow: none; }
thead { background: #444; color: #FFF; }
.table > tbody > tr { border: 1px solid #ddd; }
.jb-txtarea textarea { height: 33px; }
.pantin { text-align: right; margin-right: 15px; }
.pantin .pagination > li > a { background: #64b1ff; color: #fff; padding: 5px 18px; border: none; border-radius: 0; }
.check .checkbox { font-size: 14px; color: #000; }
.check .checkbox label, .radio label { }
.diagram-path { border-bottom: 1px solid #ddd; }
.diagram-path ol { list-style: none; display: flex; font-weight: bold; margin-bottom: 0; background: #104fa2; }
.diagram-path li { margin-right: 8px; padding: 8px 15px; color: #fff; border-radius: 2px; }
.diagram-path a { text-decoration: none; color: #fff; }
.diagram-path li::before { position: absolute; margin-left: -10px; font-size: 16px; line-height: 19px; color: #fff; content: "-"; }
.diagram-path .active a { color: #9cbbff; }
.diagram-path .active a::before { position: absolute; margin-left: -10px; font-size: 16px; line-height: 19px; color: #9cbbff; content: "-"; }
.path-tosignin2 { margin-bottom: 50px; color: #fff; }
.path-tosignin2 i { color: #fff; }
.path-tosignin2 a { background: #2286c5; color: #fff; border: 1px solid #2286c5; border-radius: 4px; }
.qli li { color: #333; margin-bottom: 8px; margin-left: 13px; }
.qli { padding-top: 35px; }
.qli1 li { color: #333; margin-bottom: 8px; margin-left: 13px; }
.qli1 { padding-top: 0px; }
.path-tosignin-job2 { margin-left: 70px; }



.navbar-new { height:135px; background:#fff; border-bottom:1px solid #ddd; }
.navbar-new .col-md-2 { padding:0; }
.navbar-new h2 { text-transform:uppercase; border-bottom: 1px solid #ddd; padding-bottom: 5px; font-family: 'Playfair Display', serif; margin:0; font-size:36px; font-size: 39px; letter-spacing: 7px; }
.logo-clm { float:left; }
.logo-clm img {height:119px; margin-top:8px; }
.c-img-clm img { height:35px; }
.c-img-clm { float:left; margin-right:35px; margin-top:5px; }
.main-c-img-clm { display:flex; }
.main-c-img-clm img { height:40px; }
.main-c-img-clm h6 { font-size:16px; margin-left:8px; }
.polition-img { float:left; margin-left:5px; }

.polition-img img { height:85px; margin-top:15px; }
.polition-img2 { margin:0; }
.polition-img2 img { height:134px; margin:0; }
.polition-log { margin-top:5px; float:right; margin-right:10px; text-align:center; }
.polition-log a { color:#000; background:#fff; font-size:12px; padding:0px 6px; border-radius:2px; font-weight:bold; }
.login-ri { height:135px; float:right;  }
.modi-logo-r { text-align:right;  padding:0; }
.modi-logo-rig h1 { display:inline-block; margin:0; font-size:14px; }
.modi-logo-rig { width:185px; margin-left:auto; float:right; }
.modi-logo-r .col-md-4s { width:40%; float:left }
.modi-logo-r .col-md-8s { width:60%; float:left }
.modi-logo-r .col-md-12 { padding:0; }
.modi-logo-rig { background:#fff; height:30px; margin-top:4px; padding:0; }
.polition-log a { background:none !important; border-right:1px solid #fff; border-left:1px solid #fff; border:none; padding-bottom:0 !important; padding-top:0 !important; }
.radio-inline + .radio-inline { margin-left:30px; }
.form-control[readonly] {
    background-color: #e6e7e8;
    opacity: 1;
}
a.sidebar-link.has-arrow.waves-effect.waves-dark.active {
    background-color: #00BCD4;
}


