@charset "utf-8";

/* CSS Document */
.ba-round-icon i {
    background: #ffffff;
    color: #fa8a20;
    border-radius: 4px;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #e6e6e6;
}

.b-r-clm {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    font-size: 13px;
}

.b-r-clm h2 {
    font-size: 16px;
    font-weight: bold;
}

.m-logos-left1 {}

.m-logos1 {
    width: 86px;
    height: 60px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.m-logos1 img {
    width: 100%;
    height: 100%;
}

.m-logos-left1 {
    margin: auto;
    display: table;
}

.m-logos-left2 {
    margin: auto;
    display: table;
}

.jd {
    margin-left: 15px;
}

.add-del-btn-mobi {}

.hei {}

.j-br-coutr {
    background: rgba(0, 0, 0, 0.4);
}

.rs-btn {}

.title-sponser {}

.title-sponser img {}

.title-sponser h6 {}

.nav-text-clm {}

.nav-text-clm h2 {}

.nav-text-clm h3 {}

.navbar-toggle .icon-bar {}

.mob-nav-res {}

.navbar-nav > li > a {}

.navbar-nav > li > a:hover {}

.logo-clm img {}

.navbar-toggle {}

.til3 {}

.asmt-res {}

.regi {}

.modi-clm-full {
    height: 100%;
    overflow: scroll;
}

.modi-pic-clm {}

.modi-pic-clm img {}

.others-pic-clm {}

.others-pic-clm img {}

.others-pic-clm2 {}

.others-pic-clm2 img {}

.left-sponser {}

.left-sponser-1-type {}

.left-sponser-1-type img {}

.left-sponser-1-type h2 {}

.mob-nav {}

.right-content {}

.b1 h1 {}

.local-spo-item {}

.home-sliders {}

.fter {
    bottom: 0;
}

.jd-right {}

.til-2 {}

.yes-btn a {
    color: #fff;
}

.yes-btn a:hover {
    text-decoration: none;
}

.yes-btn {
    display: flex;
    margin-left: 30px;
    margin-top: 33px;
    margin-bottom: 33px;
}

.yes-btn1 {
    width: 84px;
    background: #5b88e9;
    height: 35px;
    border-radius: 2px;
    color: #fff;
    margin-right: 15px;
    padding-top: 7px;
    text-align: center;
}

.yes-btn2 {
    width: 184px;
    background: #5b88e9;
    height: 35px;
    border-radius: 2px;
    color: #fff;
    margin-right: 15px;
    padding-top: 7px;
    text-align: center;
}

.sp-txt {
    text-align: center;
}

.sp-txt p {
    font-weight: bold;
}

.sp-txt-2 h2 {
    font-weight: 700;
    color: #000;
    font-size: 24px;
    margin-top: 0;
}

.sp-txt-2 li {
    margin-left: 30px;
}

.my-f {}

#height-full {
    height: 100vh;
}

.fter {
    margin-top: 0;
}

.asft {}

.asmt-page {}

.assmnt-clm-b {}

.row-my {}

.my-di {}

.my-hid {}

.my-hid-in {}

.letm {}

.s-l {}

.sr-model-width {
    margin: auto;
}

.lang-pge-left img {
    height: auto;
    width: 380px;
}

.lang-pge-right {
    text-align: center;
}

.lang-pge-right ul {
    list-style: none;
    padding: 0;
    display: flex;
    width: 625px;
    margin: auto;
}

.lang-pge-right li {
    margin-right: 15px;
    margin-bottom: 15px;
}

.lang-pge-right a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    border: 1px solid #fff;
    font-size: 30px;
    padding: 15px;
    width: 305px;
    text-align: center;
    border-radius: 4px;
}

.lang-pge-right a:hover {
    text-decoration: none;
}

/* Bounce To Right */
.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 77, 101, .2);
    border-radius: 4px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
    color: white;
}

.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.9);
    border-radius: 4px;
}

.land-full {
    padding-top: 15vh;
    background: url(../images/13891.jpg) no-repeat fixed;
        padding-bottom: 9vh;
    background-size: cover;
}

.la-page {}

#demos .owl-carousel .item {
    padding: 0;
    width: auto;
    height: 140px
}

.owl-carousel.owl-rtl .owl-item {
    padding: 0;
    width: auto;
    height: 140px;
}

.owl-carousel .owl-item img {
    height: 140px;
}



@media screen and (max-width:479px) {
    .site {
        height: 60vh;
    }

    .navbar-default .navbar-toggle {
        border: none;
        background: none;
    }

    .navbar-default .navbar-toggle:hover {
        border: none;
        background: none;
    }

    .navbar-default .navbar-toggle:focus {
        border: none;
        background: none;
    }

    .nav > li {
        text-align: center;
    }

    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    .b-logo img {
        width: 115px;
    }

    .container-fluids {
        margin: 0;
    }

    .free-reg {
        width: 138px;
        margin: auto;
        margin-top: 49px;
        float: none;
    }

    .free-reg h2 {
        margin-top: 10px;
    }

    .mt {
        margin: 0;
    }

    .j-banner {
        margin-bottom: 15px;
        height: 100vh;
    }

    .j-banner h1 {
        font-size: 28px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .j-banner h5 {
        margin: auto;
        width: 95%;
    }

    .ctr-clum ul img {
        height: 18px;
    }

    .ctr-clum li {
        float: left;
        width: 50%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .ctr-clum {
        width: 86%;
    }

    .ctr-clum ul {
        padding-left: 0;
    }

    .ctr-clum h2 {
        font-size: 18px;
    }

    .round {
        width: 250px;
        height: 250px;
    }

    .holderCircle {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }

    .title-box p {
        font-size: 14px;
    }

    .contentCircle {
        width: 200px;
    }

    .titles h2 {
        font-size: 20px;
    }

    .titles {
        padding-top: 15px;
    }

    .j-three-clms {
        height: 829px;
        margin-bottom: 15px;
    }

    .j-4clms {
        margin-bottom: 80px;
    }

    .j-4clms-itxt-clm {
        height: auto;
    }

    .j-4clms-itxt-clm h3 {
        font-size: 16px;
    }

    .j-three-clms {
        padding-top: 15px;
        margin-top: 15px;
    }

    .j-dates {
        width: 80%;
        margin: auto;
        margin-top: 15px;
    }

    .j-d {
        text-align: right;
    }

    .main-spo {
        height: auto;
    }

    .j-br-coutr {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /*--*/
    .e-r-f form {
        margin-top: 15px;
    }

    /*--*/
    .titles h5 {
        font-size: 14px;
    }

    .q1 {
        margin-left: 30px;
        margin-top: 10px;
        margin-right: 30px;
    }

    .q1 h6 {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 3px;
    }

    .q1 li {
        margin-left: 30px;
        font-size: 13px;
        margin-bottom: 4px;
    }

    /*--*/
    .sign-in form {
        width: 80%;
    }

    .path-tosignin {
        margin-top: 20px;
    }

    /*--*/
    .frm-sb-sections {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .hidden-div {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .checkbox-inline + .checkbox-inline {
        margin-left: 0;
    }

    .main-c-img-clm img {
        height: 23px;
    }

    .main-c-img-clm h6 {
        font-size: 10px;
        margin-left: 7px;
        margin-top: 4px;
    }

    .navbar-new h2 {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .navbar-new .col-md-8 {
        padding: 0;
    }

    .c-img-clm img {
        height: 9px;
        width: auto;
    }

    .c-clm-right h5 {
        font-size: 10px;
        margin-top: 1px;
        padding-top: 0px;
        margin-bottom: 0px;
    }

    .polition-log {
        margin-top: 1px;
        margin-right: 1px;
    }

    .polition-log a {
        font-size: 9px;
        padding: 0px 2px;
    }

    .modi-logo-rig {
        height: auto;
        margin-top: 0;
    }

    .polition-img img {
        height: 20px;
        margin-top: 15px;
        width: auto;
    }

    .polition-img2 img {
        height: 44px;
    }

    .c-clm-left {
        width: 50%;
        float: left;
    }

    .navbar-new h3 {
        display: none;
    }

    .d-flex {
        display: block !important;
    }

    .path-tosignin2 a {
        width: 90% !important;
        margin: auto;
        display: flex;
    }

    .path-tosignin2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .title-sponser {}

    .title-sponser img {
        height: 23px;
        float: left;
        width: auto;
        margin-right: 5px;
    }

    .title-sponser h6 {
        font-size: 10px;
        margin: 0;
        padding: 5px 0;
    }

    .nav-text-clm {
        float: left;
    }

    .nav-text-clm h2 {
        margin: 7px 0;
        font-size: 16px;
        transform: scale(1, 1.5);
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        letter-spacing: 2px;
    }

    .nav-text-clm h3 {
margin: 2px;
    font-size: 12px;
    color: #ff0000;
    font-weight: bold;
    float: left;
    width: 100%;
    }

    .navbar-toggle .icon-bar {
        background: #333;
    }

    .mob-nav-res {
        width: 100%;
        background: #333;
        margin: auto !important;
    }

    .navbar-nav > li > a {
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .navbar-nav > li > a:hover {
        color: #333;
    }

    .logo-clm img {
        margin-top: 12px;
        height: 45px;
    }

    .right-content {
        width: 80%;
        float: right;
    }

    .navbar-toggle {
        margin-top: 21px;
    }

    .modi-clm-full {
        width: 20%;
        float: left;
        position: fixed;
        margin-top: 106px;
    }

    .modi-pic-clm {
        text-align: center;
        width: 100%;
    }

    .modi-pic-clm img {
        width: 100%;
        height: auto;
    }

    .others-pic-clm {
        text-align: center;
        margin-top: 5px;
        width: 49%;
        float: left;
    }

    .others-pic-clm img {
        width: 100%;
        height: auto;
    }

    .others-pic-clm2 {
        text-align: center;
        margin-top: 5px;
        float: right;
        width: 49%;
    }

    .others-pic-clm2 img {
        width: 100%;
        height: auto;
    }

    .left-sponser {}

    .left-sponser-1-type {
        width: 100%;
    }

    .left-sponser-1-type img {
        width: 100%;
        margin-top: 5px;
        border-top: 1px solid #cecece;
        padding-top: 5px;
    }

    .left-sponser-1-type h2 {
        font-size: 10px;
        font-weight: bold;
    }

    .mob-nav {
    background: #fff;
    height: auto;
    }

    .right-content {
        margin-top: 68px;
    }

    .b1 h1 {
        font-size: 24px;
    }

    .site {
        height: auto;
    }

    .b1 {
        height: auto;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .b1 h5 {
        font-size: 12px;
    }

    .j-br-coutr {
        margin-top: 10px;
    }

    .ctr-clum p {
        font-size: 12px;
    }

    .ctr-clum li {
        width: auto;
        font-size: 12px;
        margin-right: 5px;
    }

    .ctr-clum h2 {
        font-size: 12px;
    }

    .m-logos {
        width: 126px;
    }

    .main-spo {
        margin-left: 15px;
        border-top: 1px solid #ddd;
        width: 100%;
    }

    .titles h2 {
        margin-left: 15px;
    }

    .co-spo {
        padding-left: 15px;
        border-top: 1px solid #ddd;
        width: 100%;
    }

    .co-spo-item .m-logos {
        height: 46px;
        width: 68px;
    }

    .co-spo h2 {
        border: none;
    }

    .local-spo-item .m-logos {
        height: 34px;
        width: 46px;
    }

    .fter {
        margin-top: 0;
    }

    .local-spo-item {
        width: 100%;
    }

    .home-sliders {
        margin-left: 15px;
    }

    .titles {
        margin-left: 15px;
    }

    .co-spo {
        padding-left: .0;
        margin-left: 15px;
    }

    .fter {
        margin-left: 15px;
    }

    .table-responsive {
        border: none;
    }

    .c-name table {
        margin-left: 15px;
        width: 100%;
        margin-bottom: 20vh;
    }

    .mob-nav {
        border-bottom: 1px solid #ddd;
    }

    .e-r-f form {
        margin: auto;
    }

    .jd {
        padding-left: 0px;
        padding-right: 0px;
        float: none;
    }

    .jd-right {
        margin-left: 15px;
    }

    .til-2 {
        margin-left: 0;
    }

    .jd {
        margin-left: 15px;
    }

    .jd .col-xs-11 {
        padding-left: 0;
    }

    .asmnt {
        margin-top: 0;
        padding-left: 15px;
        border-top: none;
    }

    .asmnt h1 {
        font-size: 18px;
    }

    .faq-clm {
        padding-left: 15px;
    }

    .faq-clm li {
        margin-left: 15px;
    }

    .n-clms {
        margin-top: 15px;
    }

    .titles h5 {
        margin-left: 15px;
    }

    .q1 {
        margin-left: 15px;
    }

    .til3 {
        margin-left: 0;
    }

    .til3 h2 {
        margin-left: 15px;
    }

    .map {
        margin-left: 15px;
        margin-right: 15px;
    }

    .assmnt-clm {
        margin-left: 15px;
    }

    .q1 li {
        margin-left: 15px;
    }

    .path-tosignin-job2 {
        margin-left: 0px;
    }

    .sign-in form {
        width: 90%
    }

    .sb-btn {
        padding: 10px 30px;
    }

    .regi {
        margin-left: 0px;
    }

    .regi form {
        width: 90%;
    }

    .site {
        border: none;
    }

    .sp-txt-2 li {
        margin-left: 15px;
    }

    .yes-btn {
        margin-left: 15px;
    }

    .my-f {
        margin-left: 0px;
        margin-top: 11px;
        width: 98%;
    }

    .rs-btn {
        margin-left: 15px;
    }

    .sp-txt-2 {
        margin-left: 15px;
    }

    .ctr-clum p {
        font-size: 8px;
        width: 41px;
        margin-bottom: 30px;
    }

    .ctr-clum h2 {
        font-size: 8px;
    }

    .welm {
        text-align: center;
        margin-top: 0;
    }

    .gi ul {
        padding-left: 15px;
    }

    #height-full {
        height: auto;
    }

    .asmt-page {
        margin-top: 69px;
    }

    .assmnt-clm {
        margin-top: 5px;
    }

    .asft {
        margin-left: 0;
    }

    .assmnt-clm-b {
        margin-top: 75px;
    }

    .row-my {
        margin: auto;
    }

    .frm-sb-sections {
        padding-left: 0;
        padding-right: 0;
        margin-left: 15px;
    }

    .my-di {
        padding: 15px 0;
        margin-left: 15px;
    }

    .my-hid {
        padding: 0;
        margin-left: 15px;
    }

    .my-hid-in {
        padding: 15px 0;
        margin-left: 15px;
    }

    .letm {
        margin-left: 15px !important;
    }

    .s-l {
        margin-left: 15px;
    }

    .land-full {
        margin-left: 15px;
    }

    .lang-pge-right ul {
        width: 258px;
        margin: auto;
    }

    .lang-pge-right a {
        width: 123px;
        font-size: 10px;
        font-weight: bold;
    }

    .lang-pge-right li {
        margin-left: 0px;
        margin-right: 10px;
    }
}

@media screen and (min-width:480px) and (max-width:574px) {
    .site {
        height: 60vh;
    }

    .navbar-default .navbar-toggle {
        border: none;
        background: none;
    }

    .navbar-default .navbar-toggle:hover {
        border: none;
        background: none;
    }

    .navbar-default .navbar-toggle:focus {
        border: none;
        background: none;
    }

    .nav > li {
        text-align: center;
    }

    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    .b-logo img {
        width: 115px;
    }

    .container-fluids {
        margin: 0;
    }

    .free-reg {
        width: 138px;
        margin: auto;
        margin-top: 49px;
        float: none;
    }

    .free-reg h2 {
        margin-top: 10px;
    }

    .mt {
        margin: 0;
    }

    .j-banner {
        margin-bottom: 15px;
        height: 100vh;
    }

    .j-banner h1 {
        font-size: 28px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .j-banner h5 {
        margin: auto;
        width: 95%;
    }

    .ctr-clum ul img {
        height: 18px;
    }

    .ctr-clum li {
        float: left;
        width: 50%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .ctr-clum {
        width: 80%;
    }

    .ctr-clum ul {
        padding-left: 0;
    }

    .ctr-clum h2 {
        font-size: 18px;
    }

    .round {
        width: 250px;
        height: 250px;
    }

    .holderCircle {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }

    .title-box p {
        font-size: 14px;
    }

    .contentCircle {
        width: 200px;
    }

    .titles h2 {
        font-size: 24px;
    }

    .titles {
        padding-top: 15px;
    }

    .j-three-clms {
        height: 829px;
        margin-bottom: 15px;
    }

    .j-4clms {
        margin-bottom: 80px;
    }

    .j-4clms-itxt-clm {
        height: auto;
    }

    .j-4clms-itxt-clm h3 {
        font-size: 16px;
    }

    .j-three-clms {
        padding-top: 15px;
        margin-top: 15px;
    }

    .j-dates {
        width: 80%;
        margin: auto;
        margin-top: 15px;
    }

    .j-d {
        text-align: right;
    }

    .main-spo {
        height: auto;
        width: 100%;
    }

    .j-br-coutr {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .m-logos1 {
        width: 48px;
        height: 30px;
    }

    .j-4clms-img-clm {
        height: 280px;
    }

    .j-three-clms {
        height: auto;
    }

    .j-4clms-img-clm img {
        height: 100%;
    }

    /*--*/
    .e-r-f form {
        margin-top: 20px;
    }

    /*--*/
    .titles h5 {
        font-size: 16px;
    }

    .q1 {
        margin-left: 30px;
        margin-top: 10px;
        margin-right: 30px;
    }

    .q1 h6 {
        font-size: 14px;
    }

    .n2-img {
        width: 60%;
        margin: auto;
    }

    .titles h2 {
        font-size: 20px;
    }

    /*--*/
    .sign-in form {
        width: 80%;
    }

    .path-tosignin {
        margin-top: 20px;
    }

    /*--*/
    .frm-sb-sections {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .hidden-div {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .checkbox-inline + .checkbox-inline {
        margin-left: 0;
    }

    .main-spo h2 {
        font-size: 13px;
    }

    .co-spo h2 {
        font-size: 13px;
        margin-top: 0px;
        border-top: none;
    }

    .title-sponser {
        
            width: 100%;
    float: left;
    }

    .title-sponser img {
        height: 23px;
        float: left;
        width: auto;
        margin-right: 5px;
    }

    .title-sponser h6 {
        font-size: 10px;
        margin: 0;
        padding: 5px 0;
    }

    .nav-text-clm {
        float: left;
    }

    .nav-text-clm h2 {
        margin: 7px 0;
        font-size: 16px;
        transform: scale(1, 1.5);
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        letter-spacing: 2px;
    }

    .nav-text-clm h3 {
        margin: 2px;
        font-size: 12px;
        color: #ff0000;
        font-weight: bold;
    }

    .navbar-toggle .icon-bar {
        background: #333;
    }

    .mob-nav-res {
        width: 100%;
        background: #333;
        margin: auto !important;
    }

    .navbar-nav > li > a {
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .navbar-nav > li > a:hover {
        color: #333;
    }

    .logo-clm img {
        margin-top: 12px;
        height: 45px;
    }

    .right-content {
        width: 80%;
        float: right;
    }

    .navbar-toggle {
        margin-top: 21px;
    }

    .modi-clm-full {
        width: 20%;
        float: left;
        position: fixed;
        margin-top: 106px;
    }

    .modi-pic-clm {
        text-align: center;
        width: 100%;
    }

    .modi-pic-clm img {
        width: 100%;
        height: auto;
    }

    .others-pic-clm {
        text-align: center;
        margin-top: 5px;
        width: 49%;
        float: left;
    }

    .others-pic-clm img {
        width: 100%;
        height: auto;
    }

    .others-pic-clm2 {
        text-align: center;
        margin-top: 5px;
        float: right;
        width: 49%;
    }

    .others-pic-clm2 img {
        width: 100%;
        height: auto;
    }

    .left-sponser {}

    .left-sponser-1-type {
        width: 100%;
    }

    .left-sponser-1-type img {
        width: 100%;
        margin-top: 5px;
        border-top: 1px solid #cecece;
        padding-top: 5px;
    }

    .left-sponser-1-type h2 {
        font-size: 10px;
        font-weight: bold;
    }

    .mob-nav {
    background: #fff;
    height: auto;
    }

    .right-content {
        margin-top: 68px;
    }

    .b1 h1 {
        font-size: 24px;
    }

    .site {
        height: auto;
    }

    .b1 {
        height: auto;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .b1 h5 {
        font-size: 12px;
    }

    .j-br-coutr {
        margin-top: 10px;
    }

    .ctr-clum p {
        font-size: 12px;
    }

    .ctr-clum li {
        width: auto;
        font-size: 12px;
        margin-right: 5px;
    }

    .ctr-clum h2 {
        font-size: 12px;
    }

    .m-logos {
        width: 126px;
    }

    .main-spo {
        margin-left: 15px;
        width: 100%;
        border-top: 1px solid #ddd;
    }

    .titles h2 {
        margin-left: 15px;
    }

    .co-spo {
        padding-left: 15px;
        border-top: 1px solid #ddd;
        width: 100%
    }

    .co-spo-item .m-logos {
        height: 46px;
        width: 68px;
    }

    .co-spo h2 {
        border: none;
    }

    .local-spo-item {
        width: 100%;
    }

    .local-spo-item .m-logos {
        height: 34px;
        width: 46px;
    }

    .fter {
        margin-top: 0;
    }

    .d-flex {
        display: block !important;
    }

    .path-tosignin2 a {
        width: 90% !important;
        margin: auto;
        display: flex;
    }

    .path-tosignin2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .home-sliders {
        margin-left: 15px;
    }

    .titles {
        margin-left: 15px;
    }

    .co-spo {
        padding-left: .0;
        margin-left: 15px;
    }

    .fter {
        margin-left: 15px;
    }

    .mob-nav {
        border-bottom: 1px solid #ddd;
    }

    .table-responsive {
        border: none;
    }

    .c-name table {
        margin-left: 15px;
        width: 100%;
    }

    .mob-nav {
        border-bottom: 1px solid #ddd;
    }

    .e-r-f form {
        margin: auto;
    }

    .jd {
        padding-left: 0px;
        padding-right: 0px;
        float: none;
    }

    .jd-right {
        margin-left: 15px;
    }

    .til-2 {
        margin-left: 0;
    }

    .jd {
        margin-left: 15px;
    }

    .jd .col-xs-11 {
        padding-left: 0;
    }

    .asmnt {
        margin-top: 0;
        padding-left: 15px;
        border-top: none;
    }

    .asmnt h1 {
        font-size: 18px;
    }

    .faq-clm {
        padding-left: 15px;
    }

    .faq-clm li {
        margin-left: 15px;
    }

    .asmnt {
        margin-top: 0;
        padding-left: 15px;
        border-top: none;
    }

    .asmnt h1 {
        font-size: 18px;
    }

    .faq-clm {
        padding-left: 15px;
    }

    .faq-clm li {
        margin-left: 15px;
    }

    .n-clms {
        margin-top: 15px;
    }

    .titles h5 {
        margin-left: 15px;
    }

    .q1 {
        margin-left: 15px;
    }

    .asmnt {
        margin-top: 0;
        padding-left: 15px;
        border-top: none;
    }

    .asmnt h1 {
        font-size: 18px;
    }

    .faq-clm {
        padding-left: 15px;
    }

    .faq-clm li {
        margin-left: 15px;
    }

    .n-clms {
        margin-top: 15px;
    }

    .titles h5 {
        margin-left: 15px;
    }

    .q1 {
        margin-left: 15px;
    }

    .til3 {
        margin-left: 0;
    }

    .til3 h2 {
        margin-left: 15px;
    }

    .map {
        margin-left: 15px;
        margin-right: 15px;
    }

    .assmnt-clm {
        margin-left: 15px;
    }

    .q1 li {
        margin-left: 15px;
    }

    .path-tosignin-job2 {
        margin-left: 0px;
    }

    .sign-in form {
        width: 90%
    }

    .sb-btn {
        padding: 10px 30px;
    }

    .sign-in form {
        width: 90%
    }

    .sb-btn {
        padding: 10px 30px;
    }

    .regi {
        margin-left: 0px;
    }

    .regi form {
        width: 90%;
    }

    .site {
        border: none;
    }

    .sp-txt-2 li {
        margin-left: 15px;
    }

    .yes-btn {
        margin-left: 15px;
    }

    .my-f {
        margin-left: 0px;
        margin-top: 11px;
        width: 98%;
    }

    .rs-btn {
        margin-left: 15px;
    }

    .sp-txt-2 {
        margin-left: 15px;
    }

    .welm {
        text-align: center;
        margin-top: 0;
    }

    .gi ul {
        padding-left: 15px;
    }

    #height-full {
        height: auto;
    }

    .assmnt-clm {
        margin-top: 5px;
    }

    .asft {
        margin-left: 0;
    }

    .assmnt-clm-b {
        margin-top: 75px;
    }

    .my-hid {
        padding: 0;
    }

    .row-my {
        margin: auto;
    }

    .frm-sb-sections {
        padding-left: 0;
        padding-right: 0;
        margin-left: 15px;
    }

    .my-di {
        padding: 15px 0;
        margin-left: 15px;
    }

    .my-hid {
        padding: 0;
        margin-left: 15px;
    }

    .my-hid-in {
        padding: 15px 0;
        margin-left: 15px;
    }

    .letm {
        margin-left: 15px !important;
    }

    .s-l {
        margin-left: 15px;
    }

    .land-full {
        margin-left: 15px;
    }

    .lang-pge-right ul {
        width: 258px;
        margin: auto;
    }

    .lang-pge-right a {
    width: 123px;
    font-size: 10px;
    font-weight: bold;
    }

    .lang-pge-right li {
        margin-left: 0px;
        margin-right: 10px;
    }
}

@media screen and (min-width:575px) and (max-width:767px) {
    .site {
        height: 60vh;
    }

    .navbar-default .navbar-toggle {
        border: none;
        background: none;
    }

    .navbar-default .navbar-toggle:hover {
        border: none;
        background: none;
    }

    .navbar-default .navbar-toggle:focus {
        border: none;
        background: none;
    }

    .nav > li {
        text-align: center;
    }

    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    .b-logo img {
        width: 115px;
    }

    .container-fluids {
        margin: 0;
    }

    .free-reg {
        width: 138px;
        margin: auto;
        margin-top: 49px;
        float: none;
    }

    .free-reg h2 {
        margin-top: 10px;
    }

    .mt {
        margin: 0;
    }

    .j-banner {
        margin-bottom: 15px;
        height: 100vh;
    }

    .j-banner h1 {
        font-size: 28px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .j-banner h5 {
        margin: auto;
        width: 95%;
    }

    .ctr-clum ul img {
        height: 18px;
    }

    .ctr-clum li {
        float: left;
        width: 50%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .ctr-clum {
     width: 50%;
    }

    .ctr-clum ul {
        padding-left: 0;
    }

    .ctr-clum h2 {
        font-size: 18px;
    }

    .round {
        width: 250px;
        height: 250px;
    }

    .holderCircle {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }

    .title-box p {
        font-size: 14px;
    }

    .contentCircle {
        width: 200px;
    }

    .titles h2 {
        font-size: 24px;
    }

    .titles {
        padding-top: 15px;
    }

    .j-three-clms {
        height: 829px;
        width: 100%;
        margin-bottom: 15px;
    }

    .j-4clms {
        margin-bottom: 80px;
    }

    .j-4clms-itxt-clm {
        height: auto;
    }

    .j-4clms-itxt-clm h3 {
        font-size: 16px;
    }

    .j-three-clms {
        padding-top: 15px;
        margin-top: 15px;
    }

    .j-dates {
        width: 80%;
        margin: auto;
        margin-top: 15px;
    }

    .j-d {
        text-align: right;
    }

    .main-spo {
        height: auto;
    }

    .j-br-coutr {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .m-logos1 {
        width: 99px;
    }

    .j-4clms-img-clm {
        height: 280px;
    }

    .j-three-clms {
        height: auto;
        width: 480px;
        margin: auto;
    }

    .j-4clms-img-clm img {
        height: 100%;
    }

    /*--*/
    .e-r-f form {
        margin-top: 20px;
    }

    /*--*/
    .titles h5 {
        font-size: 16px;
    }

    .q1 {
        margin-left: 30px;
        margin-top: 10px;
        margin-right: 30px;
    }

    .q1 h6 {
        font-size: 14px;
    }

    .n2-img {
        width: 60%;
        margin: auto;
    }

    /*--*/
    .sign-in form {
        width: 80%;
    }

    .path-tosignin {
        margin-top: 20px;
    }

    /*--*/
    .frm-sb-sections {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .hidden-div {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .checkbox-inline + .checkbox-inline {
        margin-left: 0;
    }

    .m-logos1 {
        width: 48px;
        height: 30px;
    }

    .main-spo h2 {
        font-size: 13px;
    }

    .co-spo h2 {
        font-size: 13px;
        margin-top: 0px;
        border-top: none;
    }

    .title-sponser {}

    .title-sponser img {
        height: 23px;
        float: left;
        width: auto;
        margin-right: 5px;
    }

    .title-sponser h6 {
        font-size: 10px;
        margin: 0;
        padding: 5px 0;
    }

    .nav-text-clm {
        float: left;
    }

    .nav-text-clm h2 {
        margin: 7px 0;
        font-size: 16px;
        transform: scale(1, 1.5);
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        letter-spacing: 2px;
    }

    .nav-text-clm h3 {
    margin: 5px 0;
    font-size: 12px;
    color: #ff0000;
    font-weight: bold;
    }

    .navbar-toggle .icon-bar {
        background: #333;
    }

    .mob-nav-res {
        width: 100%;
        background: #333;
        margin: auto !important;
    }

    .navbar-nav > li > a {
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .navbar-nav > li > a:hover {
        color: #333;
    }

    .logo-clm img {
        margin-top: 12px;
        height: 45px;
    }

    .right-content {
        width: 80%;
        float: right;
    }

    .navbar-toggle {
        margin-top: 21px;
    }

    .modi-clm-full {
        width: 20%;
        float: left;
        position: fixed;
        margin-top: 90px;
    }

    .modi-pic-clm {
        text-align: center;
        width: 100%;
    }

    .modi-pic-clm img {
        width: 100%;
        height: auto;
    }

    .others-pic-clm {
        text-align: center;
        margin-top: 5px;
        width: 49%;
        float: left;
    }

    .others-pic-clm img {
        width: 100%;
        height: auto;
    }

    .others-pic-clm2 {
        text-align: center;
        margin-top: 5px;
        float: right;
        width: 49%;
    }

    .others-pic-clm2 img {
        width: 100%;
        height: auto;
    }

    .left-sponser {}

    .left-sponser-1-type {
        width: 100%;
    }

    .left-sponser-1-type img {
        width: 100%;
        margin-top: 5px;
        border-top: 1px solid #cecece;
        padding-top: 5px;
    }

    .left-sponser-1-type h2 {
        font-size: 10px;
        font-weight: bold;
    }

    .mob-nav {
    background: #fff;
    height: auto;
    }

    .right-content {
        margin-top: 68px;
    }

    .b1 h1 {
        font-size: 24px;
    }

    .site {
        height: auto;
    }

    .b1 {
        height: auto;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .b1 h5 {
        font-size: 12px;
    }

    .j-br-coutr {
        margin-top: 10px;
    }

    .ctr-clum p {
        font-size: 12px;
    }

    .ctr-clum li {
        width: auto;
        font-size: 12px;
        margin-right: 5px;
    }

    .ctr-clum h2 {
        font-size: 12px;
    }

    .m-logos {
        width: 126px;
    }

    .main-spo {
        margin-left: 15px;
        width: 100%;
        border-top: 1px solid #ddd;
    }

    .titles h2 {
        margin-left: 15px;
    }

    .co-spo {
        padding-left: 15px;
        border-top: 1px solid #ddd;
        width: 100%;
    }

    .co-spo-item .m-logos {
        height: 46px;
        width: 68px;
    }

    .co-spo h2 {
        border: none;
    }

    .local-spo-item {
        width: 100%;
    }

    .local-spo-item .m-logos {
        height: 34px;
        width: 46px;
    }

    .fter {
        margin-top: 0;
    }

    .d-flex {
        display: block !important;
    }

    .path-tosignin2 a {
        width: 90% !important;
        margin: auto;
        display: flex;
    }

    .path-tosignin2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .home-sliders {
        margin-left: 15px;
    }

    .titles {
        margin-left: 15px;
    }

    .co-spo {
        padding-left: .0;
        margin-left: 15px;
    }

    .fter {
        margin-left: 15px;
    }

    .mob-nav {
        border-bottom: 1px solid #ddd;
    }

    .table-responsive {
        border: none;
    }

    .c-name table {
        margin-left: 15px;
        width: 100%;
    }

    .mob-nav {
        border-bottom: 1px solid #ddd;
    }

    .e-r-f form {
        margin: auto;
    }

    .jd {
        padding-left: 0px;
        padding-right: 0px;
        float: none;
    }

    .jd-right {
        margin-left: 15px;
    }

    .til-2 {
        margin-left: 0;
    }

    .jd {
        margin-left: 15px;
    }

    .jd .col-xs-11 {
        padding-left: 0;
    }

    .asmnt {
        margin-top: 0;
        padding-left: 15px;
    }

    .asmnt h1 {
        font-size: 18px;
    }

    .faq-clm {
        padding-left: 15px;
    }

    .faq-clm li {
        margin-left: 15px;
    }

    .asmnt {
        margin-top: 0;
        padding-left: 15px;
        border-top: none;
    }

    .asmnt h1 {
        font-size: 18px;
    }

    .faq-clm {
        padding-left: 15px;
    }

    .faq-clm li {
        margin-left: 15px;
    }

    .n-clms {
        margin-top: 15px;
    }

    .titles h5 {
        margin-left: 15px;
    }

    .q1 {
        margin-left: 15px;
    }

    .asmnt {
        margin-top: 0;
        padding-left: 15px;
        border-top: none;
    }

    .asmnt h1 {
        font-size: 18px;
    }

    .faq-clm {
        padding-left: 15px;
    }

    .faq-clm li {
        margin-left: 15px;
    }

    .n-clms {
        margin-top: 15px;
    }

    .titles h5 {
        margin-left: 15px;
    }

    .q1 {
        margin-left: 15px;
    }

    .til3 {
        margin-left: 0;
    }

    .til3 h2 {
        margin-left: 15px;
    }

    .map {
        margin-left: 15px;
        margin-right: 15px;
    }

    .assmnt-clm {
        margin-left: 15px;
    }

    .q1 li {
        margin-left: 15px;
    }

    .path-tosignin-job2 {
        margin-left: 0px;
    }

    .sign-in form {
        width: 90%
    }

    .sb-btn {
        padding: 10px 30px;
    }

    .regi {
        margin-left: 0px;
    }

    .regi form {
        width: 90%;
    }

    .site {
    border: none;
    margin-top: 59px;
    }

    .sp-txt-2 li {
        margin-left: 15px;
    }

    .yes-btn {
        margin-left: 15px;
    }

    .my-f {
        margin-left: 0px;
        margin-top: 11px;
        width: 98%;
    }

    .rs-btn {
        margin-left: 15px;
    }

    .sp-txt-2 {
        margin-left: 15px;
    }

    .welm {
        text-align: center;
        margin-top: 0;
    }

    .gi ul {
        padding-left: 15px;
    }

    #height-full {
        height: auto;
    }

    .assmnt-clm {
        margin-top: 5px;
    }

    .asft {
        margin-left: 0;
    }

    .assmnt-clm-b {
        margin-top: 75px;
    }

    .row-my {
        margin: auto;
    }

    .frm-sb-sections {
        padding-left: 0;
        padding-right: 0;
        margin-left: 15px;
    }

    .my-di {
        padding: 15px 0;
        margin-left: 15px;
    }

    .my-hid {
        padding: 0;
        margin-left: 15px;
    }

    .my-hid-in {
        padding: 15px 0;
        margin-left: 15px;
    }

    .letm {
        margin-left: 30px !important;
    }

    .s-l {
        margin-left: 15px;
    }

    .land-full {
        margin-left: 15px;
    }

    .lang-pge-right ul {
        width: 258px;
        margin: auto;
    }

    .lang-pge-right a {
width: 123px;
    font-size: 10px;
    font-weight: bold;
    }

    .lang-pge-right li {
        margin-left: 0px;
        margin-right: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:990px) {
    .free-reg {
        width: 44%;
    }

    .j-banner h1 {
        font-size: 30px;
    }

    .j-banner h5 {
        font-size: 16px;
    }

    .m-logos {
        width: 90px;
        height: 50px;
    }

    .dotCircle .itemDot {
        width: 50px;
        height: 50px;
        line-height: 28px;
    }

    .dotCircle .itemDot i {
        font-size: 16px;
    }

    .dotCircle .itemDot .forActive {
        width: 15px;
        height: 15px;
    }

    .title-box p {
        font-size: 16px;
    }

    .title-box .title {
        font-size: 28px;
    }

    .j-4clms-img-clm img {
        height: 100%;
    }

    .j-4clms-img-clm {
        height: 154px;
    }

    .j-4clms-itxt-clm h3 {
        font-size: 16px;
        margin-bottom: 18px;
        margin-top: 10px;
    }

    .j-4clms-itxt-clm {
        height: 100px;
    }

    .j-three-clms {
        height: 508px;
    }

    .j-three-clms .col-sm-6 {
        margin-bottom: 85px;
    }

    .j-dates {
        width: 75%;
    }

    .ctr-clum li {
        margin-right: 20px;
    }

    .ctr-clum ul img {
        height: 24px;
    }

    .ctr-clum p {
        font-size: 14px;
    }

    .ctr-clum h2 {
        font-size: 30px;
    }

    /*--*/
    .titles h5 {
        font-size: 16px;
    }

    .q1 {
        margin-left: 30px;
        margin-top: 10px;
        margin-right: 30px;
    }

    .q1 h6 {
        font-size: 14px;
    }

    .n2-img {
        width: 60%;
        margin: auto;
    }

    .q1 {
        margin-left: 30px;
    }

    /*--*/
    .sign-in form {
        width: 80%;
    }

    /*--*/
    .frm-sb-sections {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .hidden-div {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .checkbox-inline + .checkbox-inline {
        margin-left: 0;
    }

    .navbar-new {
        height: 110px;
    }

    .logo-clm img {
        height: 88px;
    }

    .navbar-new h2 {
        font-size: 28px;
    }

    .c-img-clm {
        margin-right: 8px;
    }

    .polition-img img {
        height: 60px;
    }

    .polition-img2 img {
        height: 102px;
        margin-top: 7px;
    }

    .c-img-clm img {
        height: 28px;
    }

    .main-c-img-clm img {
        height: 36px;
    }

    .navbar-new .col-sm-6 {
        padding: 0;
    }

    .modi-logo-rig {
        width: 100%;
    }

    .polition-log {
        margin-right: 0;
    }

    .navbar-new h2 {
        font-size: 16px;
        margin-bottom: 5px;
        letter-spacing: 2px;
    }

    .main-c-img-clm h6 {
        margin-bottom: 0;
    }

    .navbar-new h3 {
        font-size: 14px;
    }

    .navbar-new .col-md-8 {
        padding-right: 8px;
    }

    .polition-img img {
        width: 68px;
        height: 61px;
    }

    .poli-img-1 img {
    height: auto;
    width: 100%;
    margin-top: 11px;
    }

    .c-img-clm img {
        height: 18px;
    }

    .c-clm-right h5 {
        font-size: 11px;
    }

    .c-img-clm-img-5 {
        margin-left: 3px;
        margin-right: 0;
    }

    .c-img-clm-img-5 img {
        width: 37px;
    }

    .c-img-clm-img-6 img {
        width: 35px;
        height: 31px;
        margin-right: 0px;
    }

    .c-img-clm-img-6 {
        margin-top: 0;
    }

    .mt {
        margin-top: 110px;
    }

    .b1 h1 {
        font-size: 33px;
    }

    .ctr-clum h2 {
        font-size: 19px;
    }

    .b1 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 337px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b2 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 337px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b3 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 337px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b4 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 337px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b5 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 337px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .d-flex {
        display: block !important;
    }

    .path-tosignin2 a {
        width: 90% !important;
        margin: auto;
        display: flex;
    }

    .path-tosignin2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .co-spo-item .m-logos {
        width: 60px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .spo .m-logos {
        width: auto;
        height: 18px;
    }

    .c-name table {
        width: 100%;
        margin-bottom: 25vh;
    }

    .add-del-btn-mobi {
        padding: 0;
    }

    .asmnt {
        margin-top: 0;
    }

    .asmt-res {
        border: none;
    }

    .path-tosignin-job2 {
        margin-left: 0;
    }

    .hei {
        margin-bottom: 40vh;
    }

    .letm {
        margin-left: 30px !important;
    }



    .lang-pge-right ul {
        width: 390px;
        margin: auto;
    }

    .lang-pge-right a {
        width: 190px;
        font-size: 15px;
        font-weight: bold;
    }

    .lang-pge-right li {
        margin-left: 0px;
        margin-right: 10px;
    }
}

@media screen and (min-width:991px) and (max-width:1023px) {
    .free-reg {
        width: 44%;
    }

    .j-banner h1 {
        font-size: 30px;
    }

    .j-banner h5 {
        font-size: 16px;
    }

    .m-logos {
        width: 90px;
        height: 50px;
    }

    .dotCircle .itemDot {
        width: 50px;
        height: 50px;
        line-height: 28px;
    }

    .dotCircle .itemDot i {
        font-size: 16px;
    }

    .dotCircle .itemDot .forActive {
        width: 15px;
        height: 15px;
    }

    .title-box p {
        font-size: 16px;
    }

    .title-box .title {
        font-size: 28px;
    }

    .j-4clms-img-clm img {
        height: 100%;
    }

    .j-4clms-img-clm {
        height: 154px;
    }

    .j-4clms-itxt-clm h3 {
        font-size: 16px;
        margin-bottom: 18px;
        margin-top: 10px;
    }

    .j-4clms-itxt-clm {
        height: 100px;
    }

    .j-three-clms {
        height: 265px;
    }

    .j-three-clms .col-sm-6 {
        margin-bottom: 85px;
    }

    .j-dates {
        width: 75%;
    }

    .ctr-clum li {
        margin-right: 20px;
    }

    .ctr-clum ul img {
        height: 30px;
    }

    .ctr-clum p {
        font-size: 16px;
    }

    .ctr-clum h2 {
        font-size: 36px;
    }

    /*--*/
    .no-comp h2 {
        font-size: 12px;
    }

    .navbar-new {
        height: 110px;
    }

    .logo-clm img {
        height: 88px;
    }

    .navbar-new h2 {
        font-size: 28px;
    }

    .c-img-clm {
        margin-right: 8px;
    }

    .polition-img img {
        height: 60px;
    }

    .polition-img2 img {
        height: 99px;
        margin-top: 10px;
    }

    .c-img-clm img {
        height: 28px;
    }

    .main-c-img-clm img {
        height: 36px;
    }

    .navbar-new .col-sm-6 {
        padding: 0;
    }

    .modi-logo-rig {
        width: 100%;
    }

    .polition-log {
        margin-right: 0;
    }

    .polition-log a {
        padding: 0 4px;
    }

    .navbar-new h2 {
        font-size: 16px;
        margin-bottom: 5px;
        letter-spacing: 2px;
    }

    .main-c-img-clm h6 {
        margin-bottom: 0;
    }

    .navbar-new h3 {
        font-size: 14px;
    }

    .navbar-new .col-md-8 {
        padding-right: 8px;
    }

    .polition-img img {
        width: 68px;
        height: 61px;
    }

    .poli-img-1 img {
        height: 102px;
        width: auto;
    }

    .c-img-clm img {
        height: 18px;
    }

    .c-clm-right h5 {
        font-size: 11px;
    }

    .c-img-clm-img-5 {
        margin-left: 3px;
        margin-right: 0;
    }

    .c-img-clm-img-5 img {
        width: 37px;
    }

    .c-img-clm-img-6 img {
        width: 35px;
        height: 31px;
        margin-right: 0px;
    }

    .c-img-clm-img-6 {
        margin-top: 0;
    }

    .mt {
        margin-top: 110px;
    }

    .b1 h1 {
        font-size: 33px;
    }

    .ctr-clum h2 {
        font-size: 19px;
    }

    .b1 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 507px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b2 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 507px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b3 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 507px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b4 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 507px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b5 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 507px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .d-flex {
        display: block !important;
    }

    .path-tosignin2 a {
        width: 90% !important;
        margin: auto;
        display: flex;
    }

    .path-tosignin2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .co-spo-item .m-logos {
        width: 60px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .spo .m-logos {
        width: auto;
        height: 18px;
    }

    .c-name table {
        width: 100%;
        margin-bottom: 25vh;
    }

    .asmnt {
        margin-top: 0;
    }

    .asmnt {
        margin-top: 0;
    }

    .asmt-res {
        border: none;
    }

    .path-tosignin-job2 {
        margin-left: 0;
    }

    .letm {
        margin-left: 30px !important;
    }

    .lang-pge-right ul {
        width: 390px;
        margin: auto;
    }

    .lang-pge-right a {
        width: 190px;
        font-size: 15px;
        font-weight: bold;
    }

    .lang-pge-right li {
        margin-left: 0px;
        margin-right: 10px;
    }
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    .free-reg {
        width: 44%;
    }

    .j-banner h1 {
        font-size: 30px;
    }

    .j-banner h5 {
        font-size: 16px;
    }

    .m-logos {
        width: 90px;
        height: 50px;
    }

    .dotCircle .itemDot {
        width: 50px;
        height: 50px;
        line-height: 28px;
    }

    .dotCircle .itemDot i {
        font-size: 16px;
    }

    .dotCircle .itemDot .forActive {
        width: 15px;
        height: 15px;
    }

    .title-box p {
        font-size: 16px;
    }

    .title-box .title {
        font-size: 28px;
    }

    .j-4clms-img-clm img {
        height: 100%;
    }

    .j-4clms-img-clm {
        height: 154px;
    }

    .j-4clms-itxt-clm h3 {
        font-size: 16px;
        margin-bottom: 18px;
        margin-top: 10px;
    }

    .j-4clms-itxt-clm {
        height: 100px;
    }

    .j-three-clms {
        height: 265px;
    }

    .j-three-clms .col-sm-6 {
        margin-bottom: 85px;
    }

    .j-dates {
        width: 75%;
    }

    .ctr-clum li {
        margin-right: 20px;
    }

    .ctr-clum ul img {
        height: 30px;
    }

    .ctr-clum p {
        font-size: 16px;
    }

    .ctr-clum h2 {
        font-size: 36px;
    }

    /*--*/
    .no-comp h2 {
        font-size: 12px;
    }

    .navbar-new {
        height: 123px;
    }

    .logo-clm img {
        height: 88px;
    }

    .navbar-new h2 {
        font-size: 28px;
    }

    .c-img-clm {
        margin-right: 8px;
    }

    .polition-img img {
        height: 60px;
    }

    .polition-img2 img {
        height: 99px;
        margin-top: 10px;
    }

    .c-img-clm img {
        height: 28px;
    }

    .main-c-img-clm img {
        height: 36px;
    }

    .navbar-new .col-sm-6 {
        padding: 0;
    }

    .modi-logo-rig {
        width: 100%;
    }

    .polition-log {
        margin-right: 0;
    }

    .polition-log a {
        padding: 0 4px;
    }

    .navbar-new h2 {
        font-size: 16px;
        margin-bottom: 5px;
        letter-spacing: 2px;
    }

    .main-c-img-clm h6 {
        margin-bottom: 0;
    }

    .navbar-new h3 {
        font-size: 14px;
    }

    .navbar-new .col-md-8 {
        padding-right: 8px;
    }

    .polition-img img {
        width: 68px;
        height: 61px;
    }

    .poli-img-1 img {
        height: 102px;
        width: auto;
    }

    .c-img-clm img {
        height: 18px;
    }

    .c-clm-right h5 {
        font-size: 11px;
    }

    .c-img-clm-img-5 {
        margin-left: 3px;
        margin-right: 0;
    }

    .c-img-clm-img-5 img {
        width: 37px;
    }

    .c-img-clm-img-6 img {
        width: 35px;
        height: 31px;
        margin-right: 0px;
    }

    .c-img-clm-img-6 {
        margin-top: 0;
    }

    .mt {
        margin-top: 110px;
    }

    .b1 h1 {
        font-size: 33px;
    }

    .ctr-clum h2 {
        font-size: 19px;
    }

    .b1 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 507px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b2 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 507px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b3 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 507px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b4 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 507px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .b5 {
        background-size: contain;
        padding-top: 25px;
        width: 100%;
        height: 507px;
        background-attachment: inherit;
        padding-bottom: 20px;
        background-position: center;
    }

    .d-flex {
        display: block !important;
    }

    .path-tosignin2 a {
        width: 90% !important;
        margin: auto;
        display: flex;
    }

    .path-tosignin2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .co-spo-item .m-logos {
        width: 60px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .spo .m-logos {
        width: auto;
        height: 18px;
    }

    .c-img-clm-img-6 {
        float: left;
    }

    .c-img-clm img {
        height: 33px;
    }

    .poli-img-1 img {
    height: 110px;
    width: auto;
    }

    .c-name table {
        width: 100%;
        margin-bottom: 25vh;
    }

    .asmnt {
        margin-top: 0;
    }

    .asmnt {
        margin-top: 0;
    }

    .asmt-res {
        border: none;
    }

    .path-tosignin-job2 {
        margin-left: 0;
    }

    .letm {
        margin-left: 30px !important;
    }

    .diagram-path {
        margin-top: 13px;
    }

    .lang-pge-right ul {
        width: 390px;
        margin: auto;
    }

    .lang-pge-right a {
        width: 190px;
        font-size: 15px;
        font-weight: bold;
    }

    .lang-pge-right li {
        margin-left: 0px;
        margin-right: 10px;
    }
}


@media (max-width: 991px) {
    
    .navbar-new h3 {
    font-size: 10px;
}
    
    .main-spo {
    margin-top: 18px;
}
    
    .job-fair {
    height: 150px;
    padding-left: 15px;
}
}

@media (max-width: 767px) {
.nav-text-clm h2 {
    float: left;
    width: 100%;
}
    
    .land-full {
    padding-top: 21vh;
}
    
    .right-content {
    width: 100%;
}
    
    .main-menu-toggle {
    margin-top: 15px;
}
    
    .beta {
    width: 100%;
    float: left;
    padding: 5px;
}
    
}

@media (max-width: 678px) {
.job-fair {
    height: 130px;
}
}


@media (max-width: 574px) {
   .clt-page {
    margin-top: 60px;
} 
}


@media (max-width: 550px) {
.path-tosignin2 {
    width: 100%;
    float: left;
}
    
}

@media (max-width: 479px) {
    
    .nav-text-clm {
    width: 184px;
}
    
    .logo-clm {
    width: 18%;
}
    
    .main-menu-holder {
            float: right;

    margin-top: 25px;
}
    
    .land-full {
    padding-top: 26vh;
}
    
    .main-menu-toggle {
    margin-top: -5px;
}
    .job-fair {
    height: 106px;
}
}

@media (max-width: 370px) {
    
    
    .nav-text-clm h2 {
    font-size: 11px;
}
    
    .nav-text-clm h3 {
    font-size: 10px;
}
    
    .title-sponser img {
    height: 15px;
}
    
.nav-text-clm {
    width: 146px;
}
    
div#Mob-header-slider {
    width: 46px;
    float: right;
}
    #Mob-header-slider {
    margin-top: 13px;
}
    
    .job-fair {
    height: 86px;
}
}

@media (max-width: 348px) {

.modi-clm-full {
    margin-top: 129px;
}
    
    .footer-menu, .footer-address {
    width: 100%;
        margin-left: 0;
}
    
    .footer-menu li {
    margin-left: 0;
}
}
