/*main*/
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    overflow-x: hidden !important;
}

a:hover, a:focus {
    
    text-decoration: none;
}

.mt {
    margin-top: 100px;
}

.site {
    border-right: 1px solid #ddd;
    padding-left: 0;
    padding-right: 0;
}

.adds {
    height: 100%;
    float: right;
    left: auto;
    right: 0;
    position: fixed;
}

.j-nav {
    padding-top: 12px;
    padding-bottom: 10px;
    border: none;
}

.navbar-default {
    border: none;
}

.navbar {
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #ddd;
}
.marque-one { 
background: #f37020;
    position: fixed;
top: 8.7em;
    z-index: 1000;
    padding: 5px 0;
    width: 75%;
    margin: 0 auto;
    display: table;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.marque-three {
background: #00aeef;
    position: absolute;
    /* top: 0; */
    z-index: 1000;
    padding: 7px 0;
    width: 100%;
    margin: 0 auto;
    display: table;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
}


@-webkit-keyframes marquee {
  0% {text-indent: 100%;}
  100% {text-indent: -100%;}
}
.click-overseas {
position: absolute;
    top: 15rem;
    right: -4rem;
    z-index: 99;
    transform: rotate(-90deg);
}
.click-overseas-left {
position: absolute;
    top: 15rem;
    left: 0;
    z-index: 99;
    transform: rotate(-90deg);
}
.click-overseas a.overslink  {
    letter-spacing: 2px !important;
        background: #c3361d;
            border: 1px solid #c3361d;
                font-size: 12px;
}
.click-overseas a.overslink:hover {
        letter-spacing: 2px !important;
}
.click-overseas-left  a.overslink  {
    letter-spacing: 2px !important;
        background: #c3361d;
            border: 1px solid #c3361d;
                font-size: 12px;
}
.click-overseas-left  a.overslink:hover {
        letter-spacing: 2px !important;
}

.loc-map-pop {}



.btnclick {
  transition: background .3s;
}
.btnclick:hover {

}
.popup {
  position: fixed;
  padding: 10px;
 width: 40%;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
  visibility: hidden;
  opacity: 0;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 1;
}
.popup:target {
  visibility: visible;
  opacity: 1;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.popup-close {
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
}
.popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color .3s;
  font-size: 2em;
  line-height: .6em;
  font-weight: bold;
      opacity: 1;
}
.popup .close:hover {
    color: #f37020;
}

.close-popup {
  background: rgba(0,0,0,.7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
}
.popup:target + .close-popup{  
  opacity: 1;
  visibility: visible;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.calls {
        overflow: hidden;
    margin: 40px 0;
}
.calls  a .fa {
    margin-right: 5px;
}
.calls  a.flt-lft {
float: left;
    background: #f37020;
    padding: 10px 12px;
    color: #fff;
    font-size: 14px;
    text-align: center;
        border-radius: 6px;
}
.calls  a.flt-rght {
    float:right;
    background: #f37020;
    padding: 10px 12px;
    color: #fff;
    font-size: 14px;
    text-align: center;
        border-radius: 6px;
}
.j-nav ul {
    text-transform: uppercase;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {;
    top: 60%;
}
.j-nav button {
    text-transform: uppercase;
    background: #3ac891;
    color: #fff;
    border-radius: 4px;
    padding: 12px 15px;
}

.container-fluid {
    padding: 0;
}

.container {
    padding: 0;
}

.container-fluids {
    padding: 0;
    margin: 0 60px;
    height: auto;
}

.b-logo img {
    width: 150px;
}

.b-logo {
    padding: 0;
}

.j-btn {}

.j-btn a {
    padding: 0 !important;
}

.j-banner {
    height: 82vh;
    width: 100%;
    background: url(../images/j-banner.jpg);
    margin-bottom: 50px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.j-banner h1 {
    font-weight: bold;
    color: #fff;
    font-size: 50px;
    margin-top: 120px;
}

.j-banner h5 {
    font-weight: normal;
    font-size: 16px;
    color: #fff;
}

.j-br-coutr {
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #fff;
    background: rgb(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.ctr-clum {
    width: 770px;
    height: auto;
    margin: auto;
}

.ctr-clum ul {}

.ctr-clum ul img {
    width: auto;
    height: 30px;
}

.ctr-clum li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.ctr-clum h2 {
    font-size: 40px;
    font-weight: bold;
                font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;

}

.ctr-clum p {
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
    color: #fff;
                font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;

}

.j-three-clms {
    margin-top: 50px;
    margin-bottom: 0;
    padding-top: 0;
    height: 371px;
}

.j-4clms {
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
}

.j-4clms-img-clm {
    height: 192px;
}

.j-4clms-img-clm img {
    height: auto;
    width: 100%;
    border-radius: 4px;
}

.j-4clms-itxt-clm {
    padding: 0 18px;
    background: #fff;
    margin-top: -40px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    height: 160px;
    width: 91%;
}

.j-4clms-itxt-clm h3 {
    font-weight: 700;
    color: #000;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
    min-height: 50px;
}

.j-4clms-itxt-clm h5 {
    font-weight: normal;
    color: #000;
    font-size: 18px;
    margin-bottom: 15px;
}

.j-4clms-itxt-clm ul h6 {
    font-size: 18px;
    color: #000;
}

.j-4clms-itxt-clm ul li {
    font-size: 14px;
    color: #666;
}

.j-4clms-itxt-clm ul {
    padding-left: 0;
}

.r-more {
    color: #1f7ef9;
    font-size: 14px;
    margin-top: 15px;
}

.r-more p {
    float: left;
    display: inline-block;
        font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    color: #000;
}

.r-more i {
    color: #1f7ef9;
    font-size: 20px;
    float: left;
    margin-left: 10px;
    transition: .6s;
}

.r-more:hover i {
    margin-left: 20px;
    transition: .6s;
}

.titles {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    padding-bottom: 20px;
}
.table>thead>tr>th {
font-size: 13px;
    font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.titles h2 {
    font-weight: 700;
    color: #000;
    font-size: 24px;
    margin-top: 0;
    margin-left: 0;
        font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.j-e {
    width: 70%;
    float: left;
}

.j-d {
    width: 30%;
    float: left;
}

.row1 {
    border: 1px solid #c83636;
    border-top: 1px solid #c83636;
    padding: 20px 15px;
    font-weight: bold;
}

.row2 {
    border: 1px solid #addbfe;
    border-top: 0;
    padding: 20px 15px;
}

.j-dates {
    width: 50%;
    margin: auto;
    margin-top: 60px;
    margin-left: 50px;
}

/*--job-1--*/
.titles h5 {
    font-size: 18px;
    font-weight: normal;
    color: #8b8b8b;
    margin-left: 30px;
}

.titles hr {
    width: 100%;
    height: 1px;
    border: none;
    background: #addbfe;
    margin-left: 0;
    margin-bottom: 50px;
}

.q1 {
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 50px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.q1 span {
line-height: 28px;
    font-size: 14px;
    color: #000;
            font-family: 'Google Sans', Roboto, sans-serif;
}

.q1 i {
    float: left;
    margin-right: 8px;
    font-size: 10px;
    padding-top: 5px;
}

.q1 h6 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.q1 li {
    list-style: none;
    margin-left: 0px;
    margin-bottom: 0px;
    color: #000;
    line-height: 24px;
}

.st {
    margin-top: 50px;
}

.no-comp {
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 193px;
    text-align: center;
    padding: 25px 15px;
    color: #000;
    margin-bottom: 25px;
    transition: .6s;
    background: #f1f1f1;
}

.no-comp:hover {
    background: #5398f0;
    transition: .6s;
}

.n-clms {
    margin-top: 50px;
}

.no-comp img {
    height: 50px;
}

.no-comp h2 {
    font-size: 14px;
    height: 52px;
}

.no-comp p {
    font-size: 13px;
    text-transform: capitalize;
}

/*---*/
.map {
    height: 250px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.q2 {
    margin-right: 50px;
    border: none;
}

.q2 li {
    list-style: disc;
}

.e-r-f {}

.e-r-f form {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 0;
}
.e-r-f form .row {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}
.e-r-f label {
    font-size: 14px;
    font-weight: normal;
}

.e-r-f input {
    border-radius: 0;
    box-shadow: none;
    margin-top: 10px;
}

.e-r-f textarea {
    border-radius: 0;
    box-shadow: none;
    margin-top: 10px;
}

.e-r-f select {
    border-radius: 0;
    box-shadow: none;
    margin-top: 10px;
}
.assmnt-clm label {
    font-weight: normal !important;
    font-size: 14px;
    margin-top: -8px !important;
    font-family: 'Google Sans', Roboto, sans-serif;
    color: #000;
}
.form-inn-section {
    margin-top: 50px;
}

.sb-btn {
    background: #328e35;
    padding: 10px 40px;
    box-shadow: none;
    border-radius: 4px;
    border: none;
    color: #fff;
    margin-bottom: 25px;
    font-size: 14px;
}

.t2 {}

.t2 h2 {
    margin-left: 15px;
}

.sb-btn2 {
    margin-left: 15px;
    background: #5b88e9;
}

.e-r-f2 {}

.e-r-f2 h6 {
    font-size: 14px;
    color: #000;
    text-transform: capitalize;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.e-r-f2 a {
    text-decoration: none;
}

.sign-in {}

.sign-in form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/*--spo--*/
.main-spo {
    height: auto;
    overflow: hidden;
}

.main-spo h2 {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: bold;
        font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
}

.m-logos img {
    max-width: 100%;
    height: 100%;
}

.m-logos {
    width: 140px;
    height: 55px;
    margin-bottom: 12px;
    margin-left: 2px;
    margin-right: 5px;
}

.m-logos-left {
    float: left;
}

.m-logos-right {
    float: right;
}
.s-logos-change {
    width: 100%;
    height: auto;
border-bottom: 1px solid #ddd;
}
.s-logos-change img {
    height: auto;
}

.marquee-two {
    width: 100%;
        margin: 60px auto 17px auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
    padding: 10px 0px;
    font-size: 14px;
    background: #00aeef;
    color: #fff;
    letter-spacing: 1px;
}

.marquee-two:hover {
  animation-play-state: paused
}
@keyframes marquee-two {
    0%   { text-indent: 30em }
    100% { text-indent: -105em }
}
.co-spo {
    height: auto;
    overflow: hidden;
}

.co-spo h2 {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    border-top: 1px solid #ddd;
        font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
}

.path-tosignin a {
    text-transform: capitalize;
    border: 1px solid #ddd;
    padding: 8px 9px 8px;
    font-size: 16px;
    margin-left: 30px;
}

.path-tosignin i {
    font-size: 26px;
    margin-left: 10px;
    position: relative;
    top: 4px;
}

.path-tosignin a:hover {
    text-decoration: none;
}

.home-circle {}

.free-reg {
    float: left;
    width: 70%;
}

.free-reg h2 {
    text-transform: capitalize;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 29px;
    color: #ff0b0b;
}

.fter {
    width: 100%;
    float: left;
    text-align: center;
    padding: 15px 0;
    background: #374248;
    margin-top: 50PX;
    color: #fff;
}

.round {
    width: 448px;
    height: 448px;
}

.holderCircle {
    width: 448px;
    height: 448px;
}

.contentCircle {
    width: 350px;
    top: 140px;
}

.path-tosignin {
       margin-top: 30px;
}

.frm-sb-sections {
    background: #f2f2f2;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.frm-sb-sections h4 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
}

.f-r p {
    width: 100%;
    float: none;
}

.f-r p label {
    font-size: 12px;
    width: 100%;
    margin-left: 0;
}

.f-r label {
    margin-top: 0px;
}

.f-r input {
    margin-top: 2px;
}

.hidden-div {
    background: #f2f2f2;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.e-r-f input {
    font-size: 12px;
}

.btns {
    background: #64b1ff;
    padding: 8PX 24PX;
    border-radius: 2px;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.bbb p {
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.btns input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}

.row-class {
    width: 100%;
    margin-top: 8px;
}

.row-class h4 {
    display: inline-block;
    text-transform: capitalize;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 1px solid #333;
}

.add-del-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    margin-top: 72px;
}
.add-btn {
    border-radius: 2px;
    height: 25px;
    width: 30px;
    background: #4b81e3;
    color: #fff;
    float: left;
    margin-right: 5px;
    text-align: center;
    padding-top: 1px;
    cursor: pointer;
}

.del-btn {
    border-radius: 2px;
    height: 25px;
    width: 30px;
    background: #ff1c1c;
    color: #fff;
    text-align: center;
    float: left;
    padding-top: 1px;
    cursor: pointer;
}

.tp-clm {
    width: 100%;
}

.q-sub-title {
    width: 100%;
    margin-bottom: 15px;
}

.q-sub-title h2 {
    color: #2991cc;
    text-transform: capitalize;
    font-size: 16px;
    padding-left: 0px;
    padding-bottom: 8px;
    padding-right: 8px;
border-bottom: 2px solid #2991cc;
    display: inline-block;
    font-weight: bold;
}
.q-sub-title span {
        line-height: 26px;
}
.qmy {
    border-top: 1px solid #ddd;
    display: flex;
    border-bottom: none;
    padding-top: 35px;
    margin-top: 35px;
}

.qmy i {
    float: left;
}

.qmy h5 {
    font-size: 14px;
    line-height: 24px;
    float: left;
    display: inline-block;
    margin: 0;
}

.assmnt-clm {
    margin-left: 30px;
    margin-top: 0;
}

.assmnt-clm h2 {
    font-weight: 700;
    color: #000;
    font-size: 24px;
    margin-top: 0;
}

.assmnt-clm p {
    font-size: 14px;
    font-family: 'Google Sans', Roboto, sans-serif;
    color: #000;
}
.assmnt-clm p span {
font-family: 'Google Sans', Roboto, sans-serif !important;
    font-size: 14px;
        color: #000;
}
.filter-button {
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #2286c5;
    color: #2286c5;
    margin-top: 15px;
    padding: 8px 25px;
}

.filter-button:hover {
    background: linear-gradient(to right, #2286c5 0%, #5ee3ff 100%);
    color: #fff;
    border: 1px solid #2286c5;
}

.btn-default .active .filter-button .active {
    background: linear-gradient(to right, #2286c5 0%, #5ee3ff 100%);
    color: #fff;
    border: 1px solid #2286c5;
}

.btn-default:focus {
    background: linear-gradient(to right, #2286c5 0%, #5ee3ff 100%);
    color: #fff;
    border: 1px solid #2286c5;
}

.actived {
    background: linear-gradient(to right, #2286c5 0%, #5ee3ff 100%);
    color: #fff;
    border: 1px solid #2286c5;
}
a.back-link {
    position: absolute;
    left: 6rem;
    padding: 0px 10px 5px 0px;
    width: 60px !important;
        text-align: center;
}
a.back-linktwo {
        position: absolute;
    right: 6rem;
    padding: 2px 10px 7px 0px;
    width: 60px !important;
        text-align: center;
}
a.back-linktwo .fa {
    font-size: 18px;
    margin-left: 0px;
}
a.back-linkfull {
    margin-top: 28rem;
    margin: 30rem auto 0 auto;
    display: flex;
    left: 0;
    right: 0;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    background: #00aeef;
    width: 45px;
    padding: 7px;
    border-radius: 3px;
    bottom: 23rem;
}
a.back-link .fa{
    font-size: 22px;
}
a.back-linkfull .fa {
    color: #fff;
}
.asmnt {
    margin-top: 25px;
    padding-left: 30px;
    padding-top: 25px;
    margin-top: 50px;
}

.asmnt h1 {
    font-weight: 700;
    color: #2991cc;
    font-size: 24px;
    margin: 0;
    display: inline-block;
    border-bottom: 2px solid #2991cc;
    padding-bottom: 8px;
    margin-bottom: 25px;
}

.asmnt h2 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: #000;
}

.asmnt-1 .q1 {
    margin-left: 30px;
}

.asmnt-1 .q1 span {
    margin-left: 50px;
    display: flex;
}

.asmnt-1 .q1 h6 {
    margin: 0;
    margin-top: 2px;
}

.asmnt-1 .q1 li {
    margin-left: 68px;
    margin-top: 5px;
}

.d-ar {}

.d-ar i {
    float: left;
    font-size: 20px;
    margin-right: 8px;
}

.welm {
    text-align: center;
    margin-top: 80px;
}

.welm h1 {
   font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.welm h2 {
    font-size:18px;
    font-weight: bold;
        font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
}
.titles h2.other-title {
    margin-top: 50px;
}
.gi {
    width: 90%;
    margin: auto;
    border-top: 1px solid #ddd;
    padding-top: 35px;
    margin-top: 35px;
}

.gi h2 {
    font-size: 24px;
    font-weight: bold;
}

.gi ol {
    padding-left: 0;
}

.gi li {
    font-size: 14px;
    color: #000;
    margin-top: 8px;
}

.qulifications {
    margin-top: 25px;
}

.qulifications hr {
    margin-top: 10px;
    border: none;
    width: 100%;
    height: 1px;
    background: #aaa;
    float: left;
}

.form-control[disabled] {
    background-color: #fff;
}

.int input {
    font-size: 14px;
}

.int input::-webkit-input-placeholder {
    color: #fff;
}

/* WebKit, Blink, Edge */
.int input:-moz-placeholder {
    color: #fff;
}

/* Mozilla Firefox 4 to 18 */
.int input::-moz-placeholder {
    color: #fff;
}

/* Mozilla Firefox 19+ */
.int input:-ms-input-placeholder {
    color: #fff;
}

/* Internet Explorer 10-11 */
.int input::-ms-input-placeholder {
    color: #fff;
}

.form-control[disabled] {
    background-color: #6d6f73;
    border: 1px solid #6d6f73;
    box-shadow: none;
}

thead {
    background: #444;
    color: #FFF;
}

.table > tbody > tr {
    border: 1px solid #ddd;
}

.jb-txtarea textarea {
    height: 33px;
}

.pantin {
    text-align: right;
    margin-right: 15px;
}

.pantin .pagination > li > a {
    background: #64b1ff;
    color: #fff;
    padding: 5px 18px;
    border: none;
    border-radius: 0;
}

.check .checkbox {
    font-size: 14px;
    color: #000;
}

.check .checkbox label,
.radio label {}

.diagram-path {
    border-bottom: 1px solid #ddd;
}

.diagram-path ol {
    list-style: none;
    display: flex;
    font-weight: bold;
    margin-bottom: 0;
    background: #104fa2;
    margin: 0;
    padding-left: 2rem;
}

.diagram-path li {
    margin-right: 8px;
    padding: 8px 15px;
    color: #fff;
    border-radius: 2px;
    opacity: 1;
    font-size: 12px;
}

.diagram-path a {
    text-decoration: none;
    color: #fff;
}

.diagram-path li::before {
    position: absolute;
    margin-left: -10px;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    content: "-";
}

.diagram-path .active a {
    color: #9cbbff;
}

.diagram-path .active a::before {
    position: absolute;
    margin-left: -10px;
    font-size: 16px;
    line-height: 19px;
    color: #9cbbff;
    content: "-";
}

.path-tosignin2 {
    margin-bottom: 42px;
    color: #fff;
}

.path-tosignin2 i {
    color: #fff;
}

.path-tosignin2 a {
    background: #2286c5;
    color: #fff;
    border: 1px solid #2286c5;
    border-radius: 4px;
}
.path-tosignin { margin-bottom: 50px; color: #fff; }
.path-tosignin i { color: #fff; }
.path-tosignin a { background: #2286c5; color: #fff; border: 1px solid #2286c5; border-radius: 4px; }

.qli li {
    color: #333;
    margin-bottom: 8px;
    margin-left: 13px;
}

.qli {
    padding-top: 35px;
}

.qli1 li {
    color: #333;
    margin-bottom: 8px;
    margin-left: 13px;
}

.qli1 {
    padding-top: 0px;
}

.path-tosignin-job2 {
    margin-left: 70px;
}



.navbar-new {
    height: 155px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar-new .col-md-2 {
    padding: 0;
}

.navbar-new h2 {
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    font-weight: 900;
    padding:30px 0 3px 10px;
font-family: 'Google Sans', Roboto, sans-serif;
    margin: 0;
    font-size: 30px;
    letter-spacing: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 5px;
}

.logo-clm {
     float: none;
    width: 50%;
    margin: 10px auto 0 auto;
}

.logo-clm img {

}
.beta {
     display: none;
}
.c-img-clm img {
    height: 45px;
}

.c-img-clm {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.main-c-img-clm {
    display: flex;
margin-top: 2px;
}

.main-c-img-clm img {
    height: 38px;
}

.main-c-img-clm h6 {
    font-size: 17px;
    margin-left: 8px;
    margin-top: 18px;
}

.polition-img {
    float: left;
       padding-left: 3px;
}

.polition-img img {
    height: auto;
    margin-top: 0;
}

.polition-img2 {
    margin: 0;
}

.polition-img2 img {

    margin: 0;
}

.polition-log {
    margin-top: 5px;
    float: right;
    margin-right: 10px;
    text-align: center;
}

.polition-log a {
    color: #000;
    background: #fff;
    font-size: 12px;
    padding: 0px 6px;
    border-radius: 2px;
    font-weight: bold;
}

.login-ri {
    height: 135px;
    float: right;
}

.modi-logo-r {
    text-align: right;
    padding: 0;
}

.modi-logo-rig h1 {
    display: inline-block;
    margin: 0;
    font-size: 14px;
}

.modi-logo-rig {
    width: 185px;
    margin-left: auto;
    float: right;
}

.modi-logo-r .col-md-4s {
    width: 30%;
    float: left
}

.modi-logo-r .col-md-8s {
    width: 60%;
    float: left
}

.modi-logo-r .col-md-12 {
    padding: 0;
}

.modi-logo-rig {
background: #00aeef;
    height: 30px;
    margin-top: 0px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 35px;
}

.polition-log a {
    background: none !important;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border: none;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.radio-inline + .radio-inline {
    margin-left: 0;
}

.b1 {
    height: 100%;
    background: url(../images/home-slider/1.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    color: #fff;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.b1 h1 {
    font-weight: 900;
    font-size: 45px;
    margin: 0;
        font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
}

.b1 h5 {
    font-size: 14px;
        text-transform: uppercase;
            font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;

}

.b2 {
    height: 100%;
    background: url(../images/home-slider/2.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.b3 {
    height: 100%;
    background: url(../images/home-slider/3.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.b4 {
    height: 100%;
    background: url(../images/home-slider/4.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.b5 {
    height: 100%;
    background: url(../images/home-slider/5.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

table.copmy-list { 
    width: 60%;
	border-collapse: collapse; 
margin: 50px auto 100px auto;
	    position: relative;
	}

/* Zebra striping */
table.copmy-list tr:nth-of-type(odd) { 
	background: #eee; 
	}

table.copmy-list th { 
	background: #00aeef; 
	color: white; 
	font-weight: bold; 
	font-size: 16px;
    text-align: center;
	}

table.copmy-list td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 14px;
	text-align: center;
	}
.c-name table {
    margin-left: 30px;
    width: 95%;
}

.sr-model-width {
    width: 85%;
    text-align: center;
}

.co-spo-item .m-logos {
    width: 90px;
    margin-left: 5px;
    margin-right: 5px;
}

.spo .m-logos {
    width: auto;
    height: 30px;
}

.c-clm-left {
    width: 100%;
    margin: auto;
margin-top: -20px;
}

.c-clm-right {
    width: 100%;
    margin: auto;
}

.c-clm-right h5 {
    font-size: 13px;
    margin-top: 15px;
    padding-top: 13px;
    margin-bottom: 6px;
    border-top: 1px solid #ddd;
    font-weight: bold;
}





.c-img-clm-img-1 img {}

.c-img-clm-img-2 img {}

.c-img-clm-img-3 img {}

.c-img-clm-img-4 img {}

.c-img-clm-img-4 {
    float: left;
}

.c-img-clm-img-5 {
    margin-left: 19px;
}

.c-img-clm-img-5 img {
    width: 49px;
    height: auto;
}

.c-img-clm-img-6 img {
    width: 60px;
    height: 41px;
    margin-right: 22px;
}

.c-img-clm-img-6 {
    float: right;
}

.nav-clm-4 {
    padding: 0;
}

.navbar-new h3 {
    margin: 0px;
    font-size: 16px;
    font-weight: 900;
    color: #c3361d;
    padding-top: 8px;
    margin-top: 0;
    font-family: 'Google Sans', Roboto, sans-serif;
        letter-spacing: 1px;
}

.navbar-new .col-md-8 {
    padding-left: 0;
        padding-top: 15px;
}

.item a:hover {
    text-decoration: none;
    color: #fff;
}

.item a {
    text-decoration: none;
    color: #fff;
}



.qstn-clm p {
    font-size: 14px;
    font-weight: bold;
}

.ans-clm p {
    font-size: 14px;
}

.faq-clm {
    padding-left: 0;
}

.faq-clm li {
    margin-left: 30px;
    margin-bottom: 15px;
}

.faq-clm h6 {
    font-size: 14px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid #ddd;
}

/* added on 13-9-2019 */

.small-images .polition-img img {
    width: 100%;


}

.polition-img {
    position: relative;
    color: #000;
}

.rs-tooltip {
    position: absolute;
    z-index: 9999;
    right: 0;
    bottom: 0;
    background: #000000d6;
    color: #fff;
    width: 160px;
    padding: 5px;
    text-align: right;
    border-radius: 3px;
    font-size: 11px;
    opacity: 0;
    display: none;
}

.polition-img:hover .rs-tooltip {

    display: block;
    opacity: 1;
}

.polition-img .rs-tooltip span {

    position: relative;
}

.polition-img .rs-tooltip span:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 50px;
    border-color: transparent transparent transparent #007bff;

}

.job-fair {
    width: 100%;
    float: left;
    margin-top: 0;
    height: 175px;
    overflow: hidden;
    margin: 20px 0;
}

.job-fair-single {
    width: 25%;
    float: left;
}

.job-fair img {
    width: auto !important;
    height: auto !important;
}

.job-fair-multiple {

    width: 75%;
    float: left;
}

.owl-carousel.header-slide .owl-item img {
    height: auto;
}

.orga-image {
    float: left;
    width: 25%;
    margin-right: 5%
}
.orga-image-change {
     width: 50%;
}
.c-clm-right h5 {
    margin-bottom: 0;
    border-top: 0;
}

.image-lst img {
    
    width:100% !important;
}

.image-fst {
    
    margin-top: 10px;
}

.navbar-new {
    height: auto !important;
}

.main-menu-holder {
    position: relative;
    float: right;
}

.main-menu-toggle button {
    background: transparent;
    float: right;
    width: 11px;
    outline: none;
    margin-right: 5px;
}

.main-menu-toggle {
    float: right;
}

.icon-bar {
    width: 20px;
    background: #fff;
    height: 2px;
    float: left;
    margin-bottom: 4px;
}

.main-menu-items {
    width: 90px;
    position: absolute;
    top: 30px;
    right: 3px;
    z-index: 999;
    background: #f5f5f5;
    padding: 8px;
    -webkit-box-shadow: 0px 15px 19px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 19px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 19px -10px rgba(0,0,0,0.75);
    display: none;
}


.main-menu-items.show-menu {
    
    display: block;
}

.main-menu-items ul li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
        list-style: none;

}

.main-menu-items ul li a {
    color: #333333;
    font-size: 12px;
    padding: 6px 0;
    float: left;
    width: 100%;
}

.main-menu-items ul li a:hover {
    
    text-decoration: none;
}

.main-menu-items ul {
    margin: 0;
}

.main-menu-items ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.buttons {
    width: 100%;
    float: left;
}

.path-tosignin2 {

margin:20px auto 50px auto;
    display: table;
}

.path-tosignin2 a {
font-size: 14px;
    margin-left: 0;
}
.s-btns {
    text-align: center;
}
.d-flex {
    text-align: center;
}
.path-tosigninchang {
        margin: 20px auto 50px auto;
    display: inline-block;
    text-align: center;
}
.full.row {
    
    max-width: 100%;
}

.footer-menu {
    
    display: block;
}

.footer-menu li {
    display: block;
    list-style: none;
    margin: 5px;
}

.footer-menu li a {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Google Sans', Roboto, sans-serif;
    line-height: 24px;
    transition: all .5s;
}

.footer-menu li a:hover {
    color: #337ab7;
}
.fter p {
    margin: 0 0 10px;
    color: #fff;
    font-size: 14px;
    font-family: 'Google Sans', Roboto, sans-serif;
    line-height: 24px;
}

.form-control {
    height: 34px !important;

}

.field-icon {
    margin-left: 0 !important;
    margin-top: -34px !important;
    right: 3px;
}

.bbb.container .element {
    width: 100%;
    margin-bottom: 21px;
    float: left;
    padding: 0;
    
    
}

.remove {
    
    cursor: pointer;
}

div#Mob-header-slider {
    width: 76px;
    float: right;
}

#Mob-header-slider .owl-item img {
    height: auto;
    width: 100%;
}

.footer-menu {
    
    text-align: left;
}

.footer-address {
    
    text-align: left;
}

.fter .row {
    
    max-width: 100%;
    margin: 0;
}

.copyright {
    width: 100%;
    background: #242b2f;
    padding: 13px 15px 6px;
}

.fter {
    margin-top: 0;
    padding-bottom: 0;
}

.social-media li {
    
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}

.social-media li a {
    color: #fff;
    font-size: 17px;
}
.social-media li a:hover .fa {
    color: #337ab7;
}

.social-media {
      float: none;
    padding: 0;
    margin: 0;
}
.copy-txt {
    float: none;
    text-align: center;
}

.gi .checkbox input[type="checkbox"] {
    margin-top: 0px;
}



.e-date-wrapper {
    width: 100% !important;
    border: 1px solid #ccc !important;
    padding: 0 !important;
    margin-top: 9px;
}

.e-date-wrapper:focus {
    border-color: #66afe9 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
    background: transparent;
    content: none !important;
}

input#dob {
    padding: 0 0 0 15px;

}

span.e-input-group-icon.e-date-icon.e-icons:focus {
    
        color: #2e9ada;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-left: 0;
}
.m-b {
    margin-bottom: 15px;
}

.row-full {
    max-width: 100%;
}

.m-b-15 {
    
    margin-bottom:15px;
}

.section-three, .section-four {
    
width: 100%;
    float: left;
    margin-top: 0;
    padding-top: 0;
    border: none;
    height:auto;
    
}

.section-three .j-4clms-itxt-clm {
    height: 140px;
    
}

.section-four .titles h2 {
    margin-left: 0;
    text-align: center;
    padding: 0 15px;
        font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
    padding-top: 6rem;
}

.circle-mob {
    
    width: 100%;
    float: left;
    clear: both;
    margin-top: 100px;
    border: none;
}

.item-holder {
    float: left;
    margin-bottom: 40px;
}

.ctn-holder {
    
    width:100%;
    float:left;
    padding: 15px 50px 0;
    font-family: 'Open Sans', sans-serif !important;
    
}

.ctn-holder .ctn-item {
    
    width:100%;
    float:left;
    margin-bottom: 30px;
}

.ctn-holder .ctn-item:last-child {
    
    margin-bottom: 0;
}

.ctn-holder .ctn-item img {
float: left;
    margin-right: 20px;
    max-width: 280px;
}

.ctn-holder .right-item img {
    
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.ctn-holder p, .ctn-holder li {
    font-size: 14px;
}

.ctn-holder h3 {
    margin-top: 0;
    font-weight: 600;
        font-family: 'Google Sans', Roboto, sans-serif;
    letter-spacing: 1px;
}

.ctn-holder li {
    
    list-style:none;
    line-height: 25px;
    
}
.titles {
    border: none;
        margin-top: 4rem;
    padding-bottom: 0;
}
.ctn-holder li i.fa.fa-dot-circle-o {
    margin-right: 6px;
}

.img-m-b {
    
margin-bottom: 15px;
clear: both;
}

.company-details {
    width: 100%;
    float: left;
    padding: 30px 30px 0;
}

.jd-page {
    
    padding-top:0;
}

.details-item {
    float: left;
    clear: both;
    margin-bottom: 12px;
}

.details-item {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.details-item strong {

    display: inline-block;
    margin-left: 10px;
}

.company-details table {
    
    border: none;
    font-size: 14px;
}

table tr th, table tr td {
    font-size: 14px;
    line-height: 25px !important;
        border-right: 1px solid #ddd;
        text-align: center;

}

.jd-hide-btn {
    
    display: none;
}
#propic {
    margin-top: 58px;
}

.diagram-path {
    border-bottom: none;
    position: fixed;
    width: 75%;
    z-index: 999;
    margin-top: 0;
}
.item.mai-spo-item {
    cursor: pointer;
}

.timer_div {
    width: 75%;
    text-align: right;
    color: #104fa2ed;
    padding: 22px 10px 10px 10px;
    font-weight: bold;
    font-size: 18px;
    border-top: 20px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    
}

.assmnt-clm.hall-ticket {
    
    padding:15px !important;
    margin-left:0;
}
.checkboxtwoclms .checkbox-inline
{
    width:100%;
}

.asesmnt-title {
    margin-top: 60px;
}
.timer_div {
    position: fixed;
    background: #fff;
    z-index: 100;
}

.radio-items {
    
    margin-left: 25px;
}

.logo-blue {
    width: 82px;
    float: left;
    margin-top: 4px;
}

.logo-blue.two {
    width: 42px;
    margin-top: 0;

}

#piechart_3d img {
    
    width: 100%;
}

.head-label {
    font-weight: 600 !important;
    color: #2b2b2b;
}

.no-margin {
    margin-right: 0;
    margin-left: 0;
}
.col-md-6.pimg {
   padding-left: 0px;
}

.hall-ticket input#cmd {
    background: #104fa2;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 3px;
}

.hall-ticket a.btn.btn-info.btn-xs {
    background: #104fa2;
    border: none;
    padding: 6px 8px;
    margin-top: -3px;
}

/* Accordion styles */
.accordion {
  position: relative;
  margin:10px auto 30px auto;
  width: 90%;
}

[id*="open-accordion"], [id*="close-accordion"] {
  background: #00aeef;
  border-bottom: 1px solid #00aeef;
  line-height: 40px;
  height: 40px;
  display: block;
  margin: 20px auto 0 auto;
  position: relative;
  width: 99%;
  opacity: .5;
}

[id*="close-accordion"] {
  display: none;
}

.accordion a {
  color: #fff;
  font-size: 1.25em;
  font-weight: normal;
  padding-left: 2%;
  text-decoration: none;
  text-shadow: none;
}

[id*="open-accordion"]:after, [id*="close-accordion"]:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 5px;
  top: 15px;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.accordion-content {
  background: #f5f5f5;
  height: 0;
  margin: 0 auto 0;
  padding: 0 2%;
  position: relative;
  overflow: hidden;
  width: 95%;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  border-top:none;
  border: 1px solid #bebeb4;
}

.accordion span:target ~ .accordion-content {
  display: block;
  height: auto;
  padding-bottom: 25px;
  padding-top: 10px;
}

.accordion span:target ~ [id*="close-accordion"] {
  display: block;
}

.accordion span:target ~ [id*="open-accordion"] {
  display: none;
}

.accordion span:target ~ [id*="close-accordion"]:after {
  border-top: 10px solid #333;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.faq-clm input[type=checkbox], .faq-clm input[type=radio] {
    display: none;
}