    @charset "utf-8";
    /* CSS Document */

    @import url('https://fonts.googleapis.com/css?family=Fjalla+One|family=Roboto:300,400&display=swap');

    html,
    body,
    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    abbr,
    address,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    samp,
    small,
    strong,
    sub,
    sup,
    var,
    b,
    i,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    summary,
    time,
    mark,
    audio,
    video,
    form,
    input {
        margin: 0;
        padding: 0;
        outline: none;
        background: transparent;
    }

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #58585a;
        font-weight: 300
    }

    p {
        line-height: 26px;
        margin-bottom: 15px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Fjalla One', sans-serif;

        color: #2c3941;
        font-weight: 400;
        text-transform: uppercase;

    }

    h1 {
        font-size: 57px;
    }

    h2 {
        font-size: 54px;
    }

    h3 {
        font-size: 51px;
    }

    h4 {
        font-size: 39px;
    }

    h5 {
        font-size: 36px;
    }

    h6 {
        font-size: 25px;
    }

    img {
        max-width: 100%;
        height: auto;
    }


    a:hover,
    a:focus {
        color: #6dadd4;
        text-decoration: none !important;
    }

    input,
    select {
        outline: none;
        font-size: 13px;
        border: 1px solid #E2E2E2;
        padding: 4px;
        border-radius: 3px;
    }

    label {
        font-weight: 300;
    }

    b,
    strong {
        font-weight: 500 !important;
    }

    button {

        outline: none;
        cursor: pointer;
    }

    button:focus {

        outline: none;
    }

    ::-webkit-input-placeholder {
        color: #afafaf;
    }

    ::-moz-placeholder {
        color: #afafaf;
    }

    :-ms-input-placeholder {
        color: #afafaf;
    }


    ::-moz-selection {
        color: #fff;
        background: #fa6352;
    }

    ::selection {
        color: #fff;
        background: #fa6352;
    }

    .site-header,
    .header-top,
    .header-bottom,
    .site-banner,
    .site-content,
    .site-section,
    .site-footer {
        width: 100%;
        float: left;
    }

    .site-header {
        position: absolute;
        z-index: 999;
    }

    .logo-holder {
        float: left;
        padding: 10px 10px 40px;
        background: #fff;
        border-radius: 0 0 61px 62px;
    }

    .main-menu {
        float: right;
    }

    .main-menu .navbar ul li .nav-link {
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
    }

    .main-menu .navbar ul li .nav-link {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
    }

    .main-menu .navbar ul li .nav-link:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: #222;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .main-menu .navbar ul li .nav-link:hover:before,
    .main-menu .navbar ul li .nav-link:focus:before,
    .hvr-underline-from-center:active:before {
        left: 0;
        right: 0;
    }

    .main-menu .navbar ul li .nav-link:hover {

        color: #fff;
    }

    .site-banner:after {
        content: "";
        width: 100%;
        height: 62px;
        float: left;
        background: url(../img/wave1.svg) top center repeat-x;
        margin-top: 0;
        position: absolute;
        bottom: -2px;
        left: 0;
    }


    .search-bar {
        float: right;
        margin-top: 12px;
    }

    .search-icon {
        width: 30px;
        height: 27px;
        float: right;
        background: url(../img/search.png) no-repeat center;
    }

    .search-bar input[type="text"] {
        background: #fff;
        border-radius: 25px;
        padding: 5px 10px;
        border: none;
        color: #666;
    }

    .search-bar form {
        position: relative;
    }

    .search-bar button {
        background: transparent;
        border: none;
        position: absolute;
        right: 0;
    }

    .right-holder {
        float: right;
        margin-top: 15px;
    }

    .site-banner {

        text-align: center;
        color: #fff;
        padding: 150px 0 110px;
        position: relative;
        background: url(../img/banner-bg.svg) top center;
        background-size: cover;
    }

    .site-banner p {
        width: 90%;
        margin: 0 auto;
    }

    .site-banner h4 {

        color: #252525;
    }

    .site-banner h2 {

        color: #fff;
    }

    .site-banner h4,
    .site-banner h2 {
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .mouse-icon {

        width: 19px;
        height: 34px;
        display: inline-block;
        border-radius: 25px;
        border: 2px solid #fff;
        margin-top: 25px;
    }

    .mouse-scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15, .41, .69, .94);
        animation-iteration-count: infinite;
        display: inline-block;
    }

    @keyframes scroll {
        0% {
            opacity: 0;
        }

        10% {
            transform: translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateY(12px);
            opacity: 0;
        }
    }

    .item-holder {
        background: url(../img/shape1.svg) no-repeat center;
        background-size: 100%;
    }

    .site-section {
        padding: 50px 0;

    }

    .site-section.section-one {
        background: #f7f6f4;
        padding-bottom: 25px;
    }

    .site-section h4 {
        color: #0a0808;
        margin-bottom: 8px;
    }


    .site-section h2 {

        color: #f25929;
        margin-bottom: 15px;
    }

    .section-one {

        position: relative;
    }

    .section-one:before,
    .site-footer:before {

        content: "";
        width: 100%;
        height: 62px;
        float: left;
        background: url(../img/wave2.svg) center repeat-x;
        margin-top: 0;
        position: absolute;
        bottom: -45px;
        left: 0;
    }

    .section-two {
        padding-top: 120px;
    }

    .section-three {
        background: #f5f5f5;
        position: relative;
        padding-bottom: 20px;
    }

    .section-three:before {
        content: "";
        width: 100%;
        height: 62px;
        float: left;
        background: url(../img/wave2.svg) center repeat-x;
        margin-top: -50px;
        position: absolute;
        top: 0;
        left: 0;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .slider-holder {

        width: 100%;
        float: left;
        position: relative;
    }

    .section-three h2 {

        color: #343434;
        text-align: center;
    }

    .slider-holder h2 span,
    .slider-holder h4 span {

        color: #f15829;
    }

    .slider-holder h4 {
        text-transform: none;
        color: #454545;
        line-height: 53px;
        margin-top: 80px;
    }

    .slider-holder:before {
        content: "";
        width: 97px;
        height: 96px;
        background: url(../img/plane.png) center;
        position: absolute;
        animation: plane-animation 2s infinite;
        top: -40px;
    }

    @keyframes plane-animation {
        0% {
            transform: translate3d(20px, 10px, 0px);
            animation-timing-function: ease-in;
        }

        50% {
            transform: translate3d(20px, 20px, 0px);
            animation-timing-function: ease-out;
        }

        100% {
            transform: translate3d(20px, 10px, 0px);
        }
    }


    .slider-holder:after {
        content: "";
        width: 85px;
        height: 84px;
        background: url(../img/sun.png) center;
        position: absolute;
        top: -25px;
        right: 0;
        animation: sun-animation 10s linear infinite;
    }

    @-moz-keyframes sun-animation {
        100% {
            -moz-transform: rotate(360deg);
        }
    }

    @-webkit-keyframes sun-animation {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes sun-animation {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .site-footer {
        color: #fff;
        background: #f25929;
        text-align: center;
        position: relative;
        padding-top: 120px;
        font-size: 15px;

    }

    .newsletter form {
        position: relative;
        width: 290px;
        margin: 0 auto;
    }

    .send-icon {
        width: 30px;
        height: 30px;
        float: right;
        background: url(../img/send.png) no-repeat center;
    }

    .newsletter button {
        background: transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 2px;
    }

    .site-footer:before {
        bottom: auto;
        left: 0;
        top: 0;
    }

    .site-footer h6 {
        color: #fff;
        margin-bottom: 17px;
    }

    .site-footer .newsletter input[type="text"] {
        width: 100%;
        background: #fff;
        border-radius: 30px;
        height: 37px;
        padding: 5px 35px 5px 15px;
    }

    .newsletter {
        margin: 25px 0;
    }

    .footer-content {

        width: 100%;
        float: left;
        background: url(../img/city.png) left bottom repeat-x;
    }

    .copyright {
        width: 100%;
        float: left;
        color: #fff;
        padding: 18px 0;
        background: #dd3b08;
        font-size: 14px;
    }

    .copyright p {

        margin-bottom: 0;

    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }


    @-webkit-keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 50px, 0);
            -ms-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none
        }
    }

    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp
    }

    .main-menu .navbar-dark .navbar-toggler {
        border: none;
    }

    .menu-icon {
        width: 30px;
        height: 19px;
        background: url(../img/menu.png) no-repeat center;
        background-size: 100%;
        display: block;
    }

    .owl-item.active .slide-animation {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }


    .item img {
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        -webkit-animation-name: bounceIn;
        animation-name: bounceIn;
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;

        -webkit-animation-delay: 500ms;
        animation-delay: 500ms;
    }

    .animate-out {
        -webkit-animation-delay: 0ms;
        animation-delay: 0ms;
    }

    .owl-item {
        display: table;
    }

    .owl-carousel .item {
        display: table-cell;
        vertical-align: middle;
    }


    @-webkit-keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none
        }
    }

    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            -ms-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none
        }
    }

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft
    }


    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            -ms-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none
        }
    }

    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight
    }

    @-webkit-keyframes fadeInRightBig {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none
        }
    }


    .owl-dots {
        position: absolute;
        width: 100%;
        text-align: center;
    }

    .owl-dot {
        width: 10px;
        height: 10px;
        display: inline-block;
        background: transparent !important;
        margin: 5px;
        border-radius: 100%;
        border: 1px solid #f15829 !important;
    }

    .owl-dot.active {

        background: #f15829 !important;

    }

    #owl-demo1 .item {
        background: #f5f5f5;
    }

    .slider-holder .item a {
        background: #f25929;
        padding: 7px 15px;
        color: #fff;
        border-radius: 40px;
        margin-top: 20px;
    }


    .social-media li {
        list-style: none;
        display: inline-block;
        margin: 5px;
    }



    .social-media {
        display: block;
        margin: 17px 0 33px;
    }

    .social-media a {
        display: block;
        width: 34px;
        height: 34px;
        background: #f25929;
        border-radius: 100%;
        text-align: center;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transition: background 300ms;
    }

    .social-media a:hover {
        background: #d8491c;
    }

    @-webkit-keyframes social-animation {
        50% {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes social-animation {
        50% {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .social-media a:hover,
    .social-media a:focus,
    .social-media a:active {
        -webkit-animation-name: social-animation;
        animation-name: social-animation;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }






    /* Media Query */

    @media (max-width: 991px) {

        h1 {
            font-size: 47px;
        }

        h2 {
            font-size: 44px;
        }

        h3 {
            font-size: 40px;
        }

        h4 {
            font-size: 29px;
        }

        h5 {
            font-size: 26px;
        }

        h6 {
            font-size: 19px;
        }
    }


    @media (max-width: 767px) {

        #mainMenu {
            position: absolute;
            top: 37px;
            right: 0;
            background: #fff;
            width: 133px;
            padding: 15px;
            border-radius: 20px;
        }

        .search-bar {

            display: none;
        }

        .main-menu .navbar ul li .nav-link {
            color: #252525;
            padding: 3px 0;
            font-size: 14px;

        }

        .navbar {
            padding: 0;
        }

        .main-menu {
            margin-top: 15px;
        }

        .logo-holder img {
            max-width: 85px;
        }

        .section-one,
        .section-two,
        .section-three {

            text-align: center;
        }

        .slider-holder:before,
        .slider-holder:after {

            display: none;
        }

        .slider-holder h4 {
            margin-top: 10px;
        }

        .site-banner p {
            width: 100%;
        }
    }

    @media (max-width: 540px) {

        h1 {
            font-size: 35px;
        }

        h2 {
            font-size: 32px;
        }

        h3 {
            font-size: 28px;
        }

        .newsletter form {
            width: 240px;
        }

    }
