@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
.site-header,  .header-top,  .header-bottom,  .site-banner,  .site-content,  .site-section,  .site-footer {
	width: 100%;
	float: left;
}

.item-holder {
	background: url(../img/shape1.svg) no-repeat center;
	background-size: 100%;
}
 #contact-form .form-control::placeholder {
 color: #fff;
 opacity: 1;
}
::-moz-selection {
 background: #ff7f45;
}
::selection {
	background: #ff7f45;
}
/*----#Basic----*/
html, body {
	height: 100%;
}
h1, h2, h3, h4, h5 {
	font-family: 'Poppins', sans-serif;
	color: #494753;
}
ol, ul {
	list-style-position: inside;
}
a {
	color: inherit;
	-webkit-transition: linear 0.15s;
	transition: linear 0.15s;
}
a:hover, a:focus {
	text-decoration: none;
}
::-moz-selection {
 color: #ffffff;
}
::selection {
	color: #ffffff;
}
.img-fluid {
	width: 100%;
}
.bg-gray {
	background-color: #F5F5F5;
}
.border-radius {
	border-radius: 5px;
}
.bg-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.tb {
	display: table;
	width: 100%;
}
.tb-cell {
	display: table-cell;
	vertical-align: middle;
}
.before-bg {
	position: relative;
}
.before-bg:before {
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.site-header, .header-top, .header-bottom, .site-banner, .site-content, .site-section, .site-footer {
	width: 100%;
	float: left;
}
.site-header {
	position: absolute;
	z-index: 999;
}
.logo-holder {
	float: left;
	padding: 10px 10px 40px;
	background: #fff;
	border-radius: 0 0 61px 62px;
}
.main-menu {
	float: right;
}
.main-menu .navbar ul li .nav-link {
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.main-menu .navbar ul li .nav-link {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.main-menu .navbar ul li .nav-link:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #222;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.main-menu .navbar ul li .nav-link:hover:before, .main-menu .navbar ul li .nav-link:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}
.main-menu .navbar ul li .nav-link:hover {
	color: #fff;
}
.site-banner:after {
	content: "";
	width: 100%;
	height: 62px;
	float: left;
	background: url(../images/waveshow-1.png) top center repeat-x;
	margin-top: 0;
	position: absolute;
	bottom: -2px;
	left: 0;
}
.search-bar {
	float: right;
	margin-top: 12px;
}
.search-icon {
	width: 30px;
	height: 27px;
	float: right;
	background: url(../images/serchicon.png) no-repeat center;
}
.search-bar input[type="text"] {
	background: #fff;
	border-radius: 25px;
	padding: 5px 30px 5px 10px;
	border: none;
	color: #666;
}
.search-bar form {
	position: relative;
}
.search-bar button {
	background: transparent;
	border: none;
	position: absolute;
	right: 0;
}
.right-holder {
	float: right;
	margin-top: 15px;
}
.site-banner {
	text-align: center;
	color: #fff;
	padding: 150px 0 110px;
	position: relative;
	background: url(../images/banner-bg.svg) top center;
	background-size: cover;
	margin-bottom: 80px;
}
.site-banner p {
	width: 90%;
	margin: 0 auto;
}
.site-banner h4 {
	color: #252525;
}
.site-banner h2 {
	color: #fff;
}
.site-banner h4, .site-banner h2 {
	text-transform: uppercase;
	margin-bottom: 15px;
}
.mouse-icon {
	width: 19px;
	height: 34px;
	display: inline-block;
	border-radius: 25px;
	border: 2px solid #fff;
	margin-top: 25px;
}
.mouse-scroller {
	width: 3px;
	height: 10px;
	border-radius: 25%;
	background-color: #fff;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
	display: inline-block;
}
 @keyframes scroll {
 0% {
 opacity: 0;
}
 10% {
 transform: translateY(0);
 opacity: 1;
}
 100% {
 transform: translateY(12px);
 opacity: 0;
}
}
.item-holder {
	background: url(../images/shape1.svg) no-repeat center;
	background-size: 100%;
}
.site-section {
	padding: 50px 0;
}
.site-section.section-one {
	background: #f7f6f4;
	padding-bottom: 25px;
}
.site-section h4 {
	color: #0a0808;
	margin-bottom: 8px;
}
.site-section h2 {
	color: #f25929;
	margin-bottom: 15px;
}
.site-footer:before {
	content: "";
	width: 100%;
	height: 62px;
	float: left;
	background: url(../images/waveshow-2.png) center repeat-x;
	margin-top: 0;
	position: absolute;
	bottom: -45px;
	left: 0;
}
.site-footer {
	color: #fff;
	background: #f25929;
	text-align: center;
	position: relative;
	padding-top: 120px;
	font-size: 15px;
}
.newsletter form {
	position: relative;
	width: 290px;
	margin: 0 auto;
}
.send-icon {
	width: 30px;
	height: 30px;
	float: right;
	background: url(../images/send.png) no-repeat center;
}
.newsletter button {
	background: transparent;
	border: none;
	position: absolute;
	right: 0;
	top: 2px;
}
.site-footer:before {
	bottom: auto;
	left: 0;
	top: 0;
}
.site-footer h6 {
	color: #fff;
	margin-bottom: 17px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}
.site-footer .newsletter input[type="text"] {
	width: 100%;
	background: #fff;
	border-radius: 30px;
	height: 37px;
	padding: 5px 35px 5px 15px;
	border: none;
}
.newsletter {
	margin: 25px 0;
}
.footer-content {
	width: 100%;
	float: left;
	background: url(../images/city.png) left bottom repeat-x;
}
.copyright {
	width: 100%;
	float: left;
	color: #fff;
	padding: 18px 0;
	background: #dd3b08;
	font-size: 14px;
}
.copyright p {
	margin-bottom: 0;
}
.social-media li {
	list-style: none;
	display: inline-block;
	margin: 5px;
}
.social-media {
	display: block;
	margin: 17px 0 33px;
}
.social-media a {
	display: block;
	width: 34px;
	height: 34px;
	background: #f25929;
	border-radius: 100%;
	text-align: center;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	transition: background 300ms;
}
.social-media a:hover {
	background: #d8491c;
}
/*=============================
## Specer
===============================*/
.s-pd1 {
	padding: 25px 0 85px;
}
.s-pd2 {
	padding: 25px 0 130px;
}
.s-pd3 {
	padding: 25px 0 110px;
}
.s-pd4 {
	padding: 100px 0 60px;
}
.s-pd145 {
	padding: 145px 0;
}
.s-pd125 {
	padding: 125px 0;
}
.s-pd100 {
	padding: 100px 0;
}
.s-pd80 {
	padding: 80px 0;
}
.s-pd60 {
	padding: 60px 0;
}
/*============ # Forms ==============*/
/*=============================
##Fields
===============================*/
.register-page {
	background: #fff;
	padding-bottom: 20px;
}
.form-control {
	background-color: transparent;
	border: 0 solid;
	border-radius: 0;
	color: #fff;
}
.form-control:focus {
	background-color: transparent;
	border-color: transparent;
	box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
}
select.form-control {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
.form-select {
	position: relative;
}
.form-select:before {
	color: #000;
	content: "";
	font-family: fontawesome;
	font-size: 18px;
	position: absolute;
	right: 17px;
	top: 14px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.form-select:hover:before {
	color: #ff7f45;
}
option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}
/*=============================
##Buttons
===============================*/
button:focus {
	outline: 0px dotted;
}
.group-btn {
	margin-top: 50px;
}
.group-btn > .btn-default {
	margin: 8px;
}
.btn {
	-webkit-transition: ease-out 0.3s;
	transition: ease-out 0.3s;
}
.btn-default {
	background-color: transparent;
	border: 1px solid #e1e1e1;
	border-radius: 30px;
	font-size: 12px;
	padding: 15px 35px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.btn-primary {
	background-color: #f96753;
	border-color: #f96753;
}
.btn:focus {
	box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.5);
}
.btn-default:hover {
	background-color: #f96753;
	border-color: #f96753;
	color: #ffffff;
}
.btn-primary:hover {
	background-color: #fff;
	color: #1b3e68;
}
.register-contact-nav > .login {
	float: left;
	margin-right: 25px;
	margin-top: 9px;
}
.register-contact-nav > .login > a:last-child:before {
	content: "/";
	padding: 0 5px 0 1px;
	color: #6a6c6d;
}
.register-contact-nav > a.btn-default {
	border-color: #1b3e68;
	color: #1b3e68;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 12px 40px;
}
.register-contact-nav > a.btn-default:hover {
	color: #fff !important;
}
ul.dropdown-content > .dropdown-trigger {
	position: relative;
}
ul.dropdown-content > .dropdown-trigger > a {
	position: relative;
}
ul.dropdown-content > .dropdown-trigger > a:after {
	content: "\f105";
	font-family: fontAwesome;
	position: absolute;
	right: 20px;
	top: 8px;
	font-size: 16px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
ul.dropdown-content > .dropdown-trigger ul.dropdown-content {
	border-top: 0 none;
	left: 100% !important;
	top: 0;
	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	position: absolute;
	width: 200px;
	z-index: 999;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
ul.dropdown-content > .dropdown-trigger:hover > a:after {
	right: 15px;
}
ul.dropdown-content > .dropdown-trigger:hover > ul.dropdown-content {
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: scale(1);
	transform: scale(1);
}
ul.dropdown-content > .dropdown-trigger:hover > ul.dropdown-content > li:last-child {
	border-bottom: 0px solid #e5e5e5;
}
ul.dropdown-content > .dropdown-trigger:hover > ul.dropdown-content > li:hover > a {
	color: #ff7f45;
	padding-left: 20px;
}
.mean-container a.meanmenu-reveal {
	padding: 20px 0 10px;
	right: 15px !important;
}
.bg-image {
	background-image: url(images/welcome-bg.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 40s linear infinite;
}
@keyframes animatedBackground {
 from {
background-position: 0 0;
}
to {
	background-position: 100% 0;
}
}
/*=============================
# Home Welcome Section
===============================*/
.welcome-text {
	height: 460px;
}
.welcome-text h1 {
	font-size: 48px;
	font-weight: 600;
	margin: 0 0 25px;
	color: #292526;
	text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.1);
}
.welcome-text p {
	font-size: 16px;
	margin-bottom: 45px;
}
.home-header-one {
	padding-bottom: 80px;
}
.home-header-two.before-bg:before {
	background-color: rgba(0,0,0,0.65);
}
.home-header-two h1, .home-header-two p {
	color: #ffffff;
}
.login-form-area .form-control {
	border: 1px solid #ddd;
	color: #6a6c6d;
	font-size: 14px;
	height: 50px;
 padding: .375rem .75rem .375rem 1.7rem;
	background: #fff;
}
.login-form-area .form-control:focus {
	border: 1px solid #000;
}
.login-form-area a:hover {
	color: #f96753;
}
.login-form-forgot-password {
	display: block;
	text-align: center;
}
.login-form-area form > p {
	margin-bottom: 25px;
	position: relative;
}
.login-form-area form > p i.fa {
	position: absolute;
	top: 36%;
	left: 15px;
	color: #224b7c;
}
.login-form-area .btn-primary {
	border-radius: 0;
	margin-top: 20px;
	width: 100%;
	cursor: pointer;
}
.login-form-remember input {
	margin-right: 7px;
}
.login-form-register-now {
	border-top: 1px solid #ddd;
	margin-top: 25px;
	padding-top: 30px;
	text-align: center;
}
.login-form-register-now a {
	color: #f96753;
	font-weight: lighter;
	letter-spacing: 1px;
	font-weight: bold;
}
.login-form-area h2 {
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.reg-form [type="date"] {
	background: #fff url(../images/calendar_2.png) 95% 50% no-repeat;
}
.reg-form [type="date"]::-webkit-inner-spin-button {
 display: none;
}
.reg-form [type="date"]::-webkit-calendar-picker-indicator {
 opacity: 0;
}
/* custom styles */
.reg-form label {
	display: block;
}
.reg-form input.datepick {
	border: 1px solid #c4c4c4;
	background-color: #fff;
	padding: 3px 5px;
	width: 45%;
	float: left;
	text-indent: 10px;
}
.reg-form input.numberinpt {
	float: left;
	width: 100%;
}
.section-heading {
	font-size: 30px;
	font-weight: 600;
	margin: 0 0 45px;
	position: relative;
	color: #292526;
	text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.1);
}
.section-heading:before {
	background-color: #292526;
	border-radius: 5px;
	bottom: -24px;
	content: "";
	height: 3px;
	left: 50%;
	margin-left: -30px;
	position: absolute;
	width: 60px;
}
.register-form-area .btn-primary {
	margin-top: 0px;
}
.register-form-area .login-form-register-now {
	margin-top: 35px;
}
.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}
.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: #fff;
	width: 220px;
	height: 50px;
}
.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #ddd;
	color: #6a6c6d;
	font-size: 14px;
	padding: 10px 10px;
	background: #fff;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #f96753 transparent transparent transparent;
	position: absolute;
	top: 20px;
	right: 10px;
}
.select-styled:hover {
	background-color: #fff;
}
.select-styled:active, .select-styled.active {
	background-color: #fff;
}
.select-styled:active:after, .select-styled.active:after {
	top: 9px;
	border-color: transparent transparent #f96753 transparent;
}
.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #f96753;
}
.select-options li {
	margin: 0;
	padding: 12px 0;
	text-indent: 15px;
	border-top: 1px solid #962d22;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}
.select-options li:hover {
	color: #c0392b;
	background: #fff;
}
.select-options li[rel="hide"] {
	display: none;
}
/*=============================
# Responsive Css
===============================*/

@media only screen and (max-width: 999px) {
.login-form-area h2 {
	padding-top: 30px;
}
.select {
	width: 49.6%;
}
}
@media only screen and (max-width: 767px) {
#mainMenu {
	position: absolute;
	top: 37px;
	right: 0;
	background: #fff;
	width: 133px;
	padding: 15px;
	border-radius: 20px;
}
.search-bar {
	display: none;
}
.main-menu .navbar ul li .nav-link {
	color: #252525;
	padding: 3px 0;
	font-size: 14px;
}
.navbar {
	padding: 0;
}
.main-menu {
	margin-top: 15px;
}
.logo-holder img {
	max-width: 85px;
}
.section-one,  .section-two,  .section-three {
	text-align: center;
}
.slider-holder:before,  .slider-holder:after {
	display: none;
}
.slider-holder h4 {
	margin-top: 10px;
}
.site-banner p {
	width: 100%;
}
.login-form-area h2 {
	padding-top: 30px;
}
.select {
	width: 100%;
	margin-bottom: 15px;
}
.site-banner {
	margin-bottom: 40px;
}
}
